In [1]:
lst = [1,2,'Roshan','Geeks','for','Gigs']

In [2]:
lst

[1, 2, 'Roshan', 'Geeks', 'for', 'Gigs']

In [3]:
print(lst[0])

1

In [4]:
lst[2]

'Roshan'

In [10]:
lst1 = [[1,2,4,5],'About','hello',['Roshan','Ganesh','Mahesh',[6,5,4,('Rohan','ajjay')]]]

In [7]:
lst1[1]

'About'

In [9]:
lst1[0][2]

4

In [14]:
lst1[3][3][3][1]

'ajjay'

In [15]:
print(len(lst1))

4

In [17]:
str = input('Enter the string:- ')
lst2 = str.split()
print(lst2)

Enter the string:- hello myy name is Roshan and i from gadchiroli district
['hello', 'myy', 'name', 'is', 'Roshan', 'and', 'i', 'from', 'gadchiroli', 'district']

In [19]:
len(lst2)

10

In [1]:
lst = [12,35,9,56,24]

In [2]:
lst

[12, 35, 9, 56, 24]

In [8]:
# swapfuction
def swaplst(str):
    size = len(str)
    
    # swapping
    
    temp = str[0]
    str[0] = str[size-1]
    
    str[size-1] = temp
    
    return str

In [9]:
print(swaplst(lst))

[24, 35, 9, 56, 12]

In [10]:
lst5 = [1,2,3]

In [11]:
swaplst(lst5)

[3, 2, 1]

In [12]:
def swaplist(str):
    size = len(str)
    
    temp = str[0]
    
    str[0] = str[size-1]
    
    str[size-1] = temp
    return str

In [13]:
swaplist(lst)

[12, 35, 9, 56, 24]

In [14]:
lst

[12, 35, 9, 56, 24]

In [15]:
def swplst(str):
    str[0],str[-1] = str[-1],str[0]
    return str

In [16]:
swplst(lst)

[24, 35, 9, 56, 12]

In [17]:
swplst(lst)

[12, 35, 9, 56, 24]

In [18]:
def slst(str):
    get = str[0],str[-1]
    
    str[-1],str[0] = get
    return str

In [19]:
slst(lst)

[24, 35, 9, 56, 12]

In [20]:
slst(lst)

[12, 35, 9, 56, 24]

In [4]:
string = input('enter the string:- ')
lst = string.split()
print('\n',lst)

enter the string:- Roshan ajay kumar

 ['Roshan', 'ajay', 'kumar']

In [5]:
n = int(input('enter the value:- '))
s_n = list(map(int,n))
print(s_n)

enter the value:- 10 12 14 16 15 15 17

ValueError: invalid literal for int() with base 10: '10 12 14 16 15 15 17'

In [7]:
# input size of the list
n = int(input("Enter the size of list : "))
# store integers in a list using map,
# split and strip functions
lst = list(map(int, input("Enter the integer\
elements:").strip().split()))[:n]

# printing the list
print('The list is:', lst)

Enter the size of list : 3
Enter the integerelements:22 55 4 5 6 5 6 5
The list is: [22, 55, 4]

In [11]:
n = int(input('enter the size of list: '))

lst = list(map(int,input('enter the integer:- ').strip().split()))[:n]
print(lst)

enter the size of list: 4
enter the integer:- 2
[2]

In [ ]:
# Python program to demonstrate
# Addition of elements in a List

# Creating a List
List = []
print("Initial blank List: ")
print(List)

# Addition of Elements
# in the List
List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

# Adding elements to the List
# using Iterator
for i in range(1, 4):
	List.append(i)
print("\nList after Addition of elements from 1-3: ")
print(List)

# Adding Tuples to the List
List.append((5, 6))
print("\nList after Addition of a Tuple: ")
print(List)

# Addition of List to a List
List2 = ['For', 'Geeks']
List.append(List2)
print("\nList after Addition of a List: ")
print(List)

In [21]:
lst = []
print('\n',lst)

 []

In [22]:
for i in range(1,11):
    lst.append(i)
print('This is list range from 1 to 10:-\n\n',lst)

This is list range from 1 to 10:-

 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
lst.append('Roshan')

In [24]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Roshan']

In [25]:
lst.append([10.5,'Math'])

In [26]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Roshan', [10.5, 'Math']]

In [27]:
lst.insert(1,'Bahetwar')

In [28]:
lst

[1, 'Bahetwar', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Roshan', [10.5, 'Math']]

In [32]:
lst.extend([0,0,10,0,0])

In [33]:
print(lst)

[1, 'Bahetwar', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Roshan', [10.5, 'Math'], '0,0,10,0,0', 0, 0, 10, 0, 0]

In [48]:
lst.pop()

'0,0,10,0,0'

In [50]:
lst.remove([10.5,'Math'])

In [51]:
print(lst)

[1, 'Bahetwar', 2, 3, 4, 5, 6, 7, 8, 9, 'Roshan']

In [52]:
lst.pop(1)

'Bahetwar'

In [53]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Roshan']

In [54]:
lst.reverse()

In [55]:
lst

['Roshan', 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [58]:
rev_lst = lst[::-1]
print(rev_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Roshan']

In [59]:
lst

['Roshan', 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [60]:
rev_lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Roshan']

In [63]:
# Python3 program for the
# practical application of reverse()
list_arr = [1, 2, 3, 2, 1]
list_string = list("naman")

# store a copy of list
list2 = list_arr.copy()
list3 = list_string.copy()

# reverse the list
list2.reverse()
list3.reverse()

# compare reversed and original list
if list_arr == list2:
	print(list_arr, ": Palindrome")
else:
	print(list_arr, ": Not Palindrome")

# compare reversed and original list
if list_string == list3:
	print(list_string, ": Palindrome")
else:
	print(list_string, ": Not Palindrome")

In [71]:
lst_arr = [1,2,3,2,1]
lst_str = list('naman')

print(lst_arr)
print(lst_str)

[1, 2, 3, 2, 1]
['n', 'a', 'm', 'a', 'n']

In [72]:
list1 = lst_arr.copy()
list2 = lst_str.copy()

In [76]:
print(list1)
print(list2)

[1, 2, 3, 2, 1]
['n', 'a', 'm', 'a', 'n']

In [77]:
list1.reverse()
list2.reverse()

In [79]:
if lst_arr == list1:
    print(lst_arr, 'list is palindrome')
else:
    print(lst_arr, 'list not palindrome')

[1, 2, 3, 2, 1] list is palindrome

In [80]:
if lst_str == list2:
    print(lst_str,'list pallindrome')
else:
    print(lst_str,'not p')

['n', 'a', 'm', 'a', 'n'] list pallindrome

In [100]:
list1 = [ ('Cat', 'Bat'), ('Sat', 'Cat'), ('Cat', 'Bat'),
		('Cat', 'Bat', 'Sat'), [1, 2], [1, 2, 3], [1, 2] ]

# Counts the number of times 'Cat' appears in list1
print(list1.count(('Cat', 'Bat')))

# Count the number of times sublist
# '[1, 2]' appears in list1
print(list1.count([1, 2]))

2
2

In [108]:
lst = [('cat','bat'),('sat','cat'),('cat','bat'),('cat','bat','sat'),[1,2],[1,2,3],[1,2]]

In [109]:
lst

[('cat', 'bat'),
 ('sat', 'cat'),
 ('cat', 'bat'),
 ('cat', 'bat', 'sat'),
 [1, 2],
 [1, 2, 3],
 [1, 2]]

In [110]:
lst.count(('cat','bat'))

2

In [111]:
print(lst.count([1,2]))

2

In [153]:
lst = ['Catmar', 'Bat', 'Sat', 'Cat', 'Mat', 'Cat', 'Sat']

In [142]:
# Python3 program to count the number of times
# an object appears in a list using count() method

lst = ['Cat', 'Bat', 'Sat', 'Cat', 'Mat', 'Cat', 'Sat']

# To get the number of occurrences
# of each item in a list
print ([ [l, lst.count(l)] for l in set(lst)])

# To get the number of occurrences
# of each item in a dictionary
print (dict( (l, lst.count(l) ) for l in set(lst)))

[['Mat', 1], ['Cat', 3], ['Bat', 1], ['Sat', 2]]
{'Mat': 1, 'Cat': 3, 'Bat': 1, 'Sat': 2}

In [143]:
lst

['Cat', 'Bat', 'Sat', 'Cat', 'Mat', 'Cat', 'Sat']

In [157]:
for i in set(lst):
    lc = lst.count(i)     # count each elements
    print(i,lc)

Cat 2
Mat 1
Bat 1
Sat 2
Catmar 1

In [145]:
[[i,lst.count(i)] for i in set(lst)]

[['Mat', 1], ['Cat', 3], ['Bat', 1], ['Sat', 2]]

In [146]:
lst1 = ['a','b','c','d','a','a','c','d','c','e']

In [162]:
for i in set(lst1):
    cl = lst1.count(i)
    print(i,cl)

e 1
a 3
b 1
d 2
c 3

In [148]:
print([[i,lst1.count(i)] for i in set(lst1)])

[['e', 1], ['a', 3], ['b', 1], ['d', 2], ['c', 3]]

In [154]:
lst

['Catmar', 'Bat', 'Sat', 'Cat', 'Mat', 'Cat', 'Sat']

In [155]:
for i in set(lst):
    lt = len(i)   # for length of element
    print(i,lt)

Cat 3
Mat 3
Bat 3
Sat 3
Catmar 6

In [160]:
dict([[i,len(i)] for i in set(lst)])

{'Cat': 3, 'Mat': 3, 'Bat': 3, 'Sat': 3, 'Catmar': 6}

In [163]:
lst

['Catmar', 'Bat', 'Sat', 'Cat', 'Mat', 'Cat', 'Sat']

In [167]:
result_dict = {}

for i in set(lst):
    ct = lst.count(i)
    result_dict[i] = ct
print(result_dict)

{'Cat': 2, 'Mat': 1, 'Bat': 1, 'Sat': 2, 'Catmar': 1}

In [168]:
# deep copy and shallow copy

In [169]:
dcp = [[1,2],[3,5]]

In [172]:
import copy

ls1 = copy.deepcopy(dcp)
ls1[0][0] = 45

In [173]:
ls1

[[45, 2], [3, 5]]

In [174]:
dcp

[[1, 2], [3, 5]]

In [175]:
ls2 = copy.copy(dcp)

In [176]:
ls2

[[1, 2], [3, 5]]

In [177]:
ls2[0][0] = 100

In [178]:
ls2

[[100, 2], [3, 5]]

In [179]:
dcp

[[100, 2], [3, 5]]

In [1]:
dictionary = {}
dictionary[1] = 1
dictionary['1'] = 2
dictionary[1] += 1

sum = 0
for k in dictionary:
    sum += dictionary[k]

print(sum)

4

In [224]:
d = {}

In [225]:
d[1]=1   # add key value pair

In [226]:
d

{1: 1}

In [227]:
d['1'] = 2  # add string as key and 1 value

In [228]:
d

{1: 1, '1': 2}

In [229]:
d[1] += 1

In [230]:
d

{1: 2, '1': 2}

In [231]:
sum = 0

In [232]:
for k in d:
    sum += d[k]
print(sum)

4

In [233]:
d

{1: 2, '1': 2}

In [234]:
dictionary = {1:'1', 2:'2', 3:'3'}
del dictionary[1]
dictionary[1] = '10'
del dictionary[2]
print (len(dictionary))

2

In [235]:
dictionary

{3: '3', 1: '10'}

In [236]:
lst

['Catmar', 'Bat', 'Sat', 'Cat', 'Mat', 'Cat', 'Sat']

In [237]:
tuple_lst = tuple(lst)

In [238]:
tuple_lst

('Catmar', 'Bat', 'Sat', 'Cat', 'Mat', 'Cat', 'Sat')

In [239]:
name = 'Roshan'

In [240]:
t = tuple(name)

In [241]:
t

('R', 'o', 's', 'h', 'a', 'n')

In [245]:
t.count('R')

1

In [246]:
t.index('R')

0

In [249]:
Tuple1 = ('Geeks')
n = 5
print("\nTuple with a loop")
for i in range(int(n)):
    Tuple1 = (Tuple1,)
    print(Tuple1)

Tuple with a loop
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

In [251]:
t1 = tuple('Geeks')

In [252]:
t1

('G', 'e', 'e', 'k', 's')

In [254]:
a,b,c,d,e = t1

In [255]:
t1

('G', 'e', 'e', 'k', 's')

In [256]:
a

'G'

In [257]:
b

'e'

In [258]:
c

'e'

In [260]:
a,b,c,d,e = t1

In [261]:
t1

('G', 'e', 'e', 'k', 's')

In [262]:
t[1:]

('o', 's', 'h', 'a', 'n')

In [263]:
t[::-1]

('n', 'a', 'h', 's', 'o', 'R')

In [264]:
del t1

In [266]:
t1 = 'GeeksforGeeks'

In [268]:
t_set = set(t1)

In [269]:
t_set

{'G', 'e', 'f', 'k', 'o', 'r', 's'}

In [270]:
String = 'GeeksForGeeks'
set1 = set(String)
print("\nSet with the use of an Object: " )
print(set1)

Set with the use of an Object:
{'k', 'r', 'F', 'e', 's', 'G', 'o'}

In [275]:
ts = ['geeks','for','geeks']

In [276]:
s_ts = set(ts)

s_ts

{'for', 'geeks'}

In [277]:
d={"Geeks":1,"for":2,"Geeks":3}

In [278]:
print(set(d))

{'Geeks', 'for'}

In [279]:
st = set()

In [280]:
st.add(5)
st.add(10)
st.add(25)
st.add(30)

In [281]:
st

{5, 10, 25, 30}

In [282]:
for i in range(1,10):
    st.add(i)
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 25, 30}

In [283]:
st.update([2,50,'Roshan'])

In [33]:
lst = ['Roshan','Ajay','amol','chetan','bhumesh','Komal','Mona','Bahesh','cat']

In [34]:
lst.sort(reverse = True)

In [35]:
lst

['chetan',
 'cat',
 'bhumesh',
 'amol',
 'Roshan',
 'Mona',
 'Komal',
 'Bahesh',
 'Ajay']

In [42]:
lst.sort(reverse = True, key = lambda x: len(x))

In [43]:
lst

['bhumesh',
 'chetan',
 'Roshan',
 'Bahesh',
 'Komal',
 'amol',
 'Mona',
 'Ajay',
 'cat']

In [61]:
price = [1.00,2.05,2.055,1.55,3.21,0.50]

In [45]:
price.sort(reverse = True)

In [46]:
price

[3.21, 2.055, 2.05, 1.55, 1.0, 0.5]

In [47]:
price.sort(reverse = False)

price

[0.5, 1.0, 1.55, 2.05, 2.055, 3.21]

In [59]:
pies = [['apple','mango'],['cat','berry'],['roshan','kumar']]

In [60]:
pies.sort(reverse = False)
pies

[['apple', 'mango'], ['cat', 'berry'], ['roshan', 'kumar']]

In [62]:
price.sort()

In [63]:
price

[0.5, 1.0, 1.55, 2.05, 2.055, 3.21]

In [70]:
for index, i in enumerate(price):
    print(index,i)

0 0.5
1 1.0
2 1.55
3 2.05
4 2.055
5 3.21

In [76]:
for index, i in enumerate(lst):
    print(index,i)

0 bhumesh
1 chetan
2 Roshan
3 Bahesh
4 Komal
5 amol
6 Mona
7 Ajay
8 cat

In [ ]:
# Set

In [1]:
s_lst = {'Roshan','Ajay','Roshan','Komal'}

In [2]:
s_lst

{'Ajay', 'Komal', 'Roshan'}

In [3]:
my_set = set([1,2,5,4,'Ganesh','Car','Kite'])

In [4]:
my_set

{1, 2, 4, 5, 'Car', 'Ganesh', 'Kite'}

In [5]:
my_set.add('Honda')

In [6]:
my_set

{1, 2, 4, 5, 'Car', 'Ganesh', 'Honda', 'Kite'}

In [7]:
my_set.update({'Apple','banana','pupaya'})

In [8]:
my_set

{1, 2, 4, 5, 'Apple', 'Car', 'Ganesh', 'Honda', 'Kite', 'banana', 'pupaya'}

In [9]:
my_set[1] = 'Lotus'

TypeError: 'set' object does not support item assignment

In [10]:
lst_set = set()

In [11]:
# adding element to the set by using iterator
for i in range(1,11):
    lst_set.add(i)
print(lst_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
people = {'jay','veeru','arjun'}

In [13]:
vampire = {'Mohan','Ganesh'}
dracula = {'Karn','Bheem'}

In [14]:
people.union(vampire)

{'Ganesh', 'Mohan', 'arjun', 'jay', 'veeru'}

In [15]:
people|dracula

{'Bheem', 'Karn', 'arjun', 'jay', 'veeru'}

In [16]:
set1 = set()
set2 = set()

In [39]:
for i in range(5):
    set1.add(i)
set1

{0, 1, 2, 3, 4}

In [19]:
for j in range(2,10):
    set2.add(j)
set2

{2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
set1.intersection(set2)

{2, 3, 4}

In [21]:
set1 & set2

{2, 3, 4}

In [22]:
set1.difference(set2)

{0, 1}

In [23]:
set2.difference(set1)

{5, 6, 7, 8, 9}

In [24]:
set1 - set2

{0, 1}

In [25]:
set2 - set1

{5, 6, 7, 8, 9}

In [27]:
set1.remove(4)

In [28]:
set1

{0, 1, 2, 3}

In [32]:
set1.discard(5)

In [33]:
set1.pop()

0

In [35]:
set1.pop()

1

In [36]:
set1.clear()

In [37]:
set1

set()

In [38]:
set2.remove(50)

KeyError: 50

In [45]:
set3 = set()

for i in range(0,15):
    set3.add(i)
set3

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [46]:
set1,set3

({0, 1, 2, 3, 4}, {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14})

In [48]:
set1.issubset(set3)

True

In [49]:
set3.issuperset(set1)

True

In [52]:
set1.isdisjoint(set3)

False

In [53]:
set1.isdisjoint(people)

True

In [ ]:
# Dictionary

In [54]:
dict1 = {('id','name'):101}

In [55]:
dict1

{('id', 'name'): 101}

In [60]:
dict1.items()

dict_items([(('id', 'name'), 101)])

In [61]:
cd = {'name':'BMW','price':845000,'color':'Red'}

In [64]:
cd["name"]

'BMW'

In [66]:
cd['id']

KeyError: 'id'

In [67]:
cd.get('id','it not present')

'it not present'

In [68]:
cd.get('color')

'Red'

In [75]:
cd['mil'] = '25 km/hrs'   # add key value pair for single items

In [70]:
cd

{'name': 'BMW', 'price': 845000, 'color': 'Red', 'mil': '25 km/hrs'}

In [71]:
cd["mil"]

'25 km/hrs'

In [72]:
cd.update({'id':101,'d_name':'Roshan','age':29})    # add multiple items

In [74]:
print(cd)

{'name': 'BMW', 'price': 845000, 'color': 'Red', 'mil': '25 km/hrs', 'id': 101, 'd_name': 'Roshan', 'age': 29}

In [93]:
p = {
    'var1' : {'a':1,'b':2,'c':3},
     'var2' : {'d':4,'e':5,'f':6},
     'var3' : {'g':8,'h':9,'i':10}
}

In [81]:
p['var1']

{'a': 1, 'b': 2, 'c': 3}

In [84]:
p["var3"]['g']

8

In [85]:
p['var1']['b']

2

In [86]:
p.keys()

dict_keys(['var1', 'var2', 'var3'])

In [87]:
p.values()

dict_values([{'a': 1, 'b': 2, 'c': 3}, {'d': 4, 'e': 5, 'f': 6}, {'g': 8, 'h': 9, 'i': 10}])

In [88]:
p.items()

dict_items([('var1', {'a': 1, 'b': 2, 'c': 3}), ('var2', {'d': 4, 'e': 5, 'f': 6}), ('var3', {'g': 8, 'h': 9, 'i': 10})])

In [92]:
p.pop('var3')

{'g': 8, 'h': 9, 'i': 10}

In [96]:
cd

{'name': 'BMW',
 'price': 845000,
 'color': 'Red',
 'mil': '25 km/hrs',
 'id': 101,
 'd_name': 'Roshan',
 'age': 29}

In [98]:
cd.popitem()

('age', 29)

In [99]:
cd.popitem()

('d_name', 'Roshan')

In [101]:
cd.pop('color')

'Red'

In [102]:
cd

{'name': 'BMW', 'price': 845000, 'mil': '25 km/hrs', 'id': 101}

In [103]:
set1

{0, 1, 2, 3, 4}

In [104]:
temp = dict.fromkeys(set1,100)

In [105]:
temp

{0: 100, 1: 100, 2: 100, 3: 100, 4: 100}

In [106]:
temp[0]=10

In [107]:
temp

{0: 10, 1: 100, 2: 100, 3: 100, 4: 100}

In [108]:
temp[3]='Roshan'

In [109]:
temp

{0: 10, 1: 100, 2: 100, 3: 'Roshan', 4: 100}

In [111]:
lst = [1,2,3]

In [112]:
temp1 = dict.fromkeys(lst)

In [113]:
temp1

{1: None, 2: None, 3: None}

In [114]:
temp1[1] = 'english'

In [115]:
temp1[2]= 'math'

In [116]:
temp1[3]= 'history'

In [117]:
temp1

{1: 'english', 2: 'math', 3: 'history'}

In [127]:
temp1[3] = ['hindi','marathi','english']

In [128]:
temp1

{1: 'english', 2: 'math', 3: ['hindi', 'marathi', 'english']}

In [130]:
temp1[3][1]

'marathi'

In [132]:
temp1.setdefault(4,'hindi')

'hindi'

In [133]:
temp1

{1: 'english', 2: 'math', 3: ['hindi', 'marathi', 'english'], 4: 'hindi'}

In [136]:
temp1[6] = 'geography'

In [137]:
temp1

{1: 'english',
 2: 'math',
 3: ['hindi', 'marathi', 'english'],
 4: 'hindi',
 5: 'geography',
 6: 'geography'}

In [138]:
temp1.setdefault(7,'geography')

'geography'

In [140]:
temp1

{1: 'english',
 2: 'math',
 3: ['hindi', 'marathi', 'english'],
 4: 'hindi',
 5: 'geography',
 6: 'geography',
 7: 'geography'}

In [142]:
t2 = dict([('name','Roshan'),('id',102),('age',29)])

In [143]:
t2

{'name': 'Roshan', 'id': 102, 'age': 29}

In [144]:
t2['value_set'] = 2,4,6

In [145]:
t2

{'name': 'Roshan', 'id': 102, 'age': 29, 'value_set': (2, 4, 6)}

In [146]:
t2[5]= {'nested':{2:'a',3:'b'}}

In [148]:
print(t2)

{'name': 'Roshan', 'id': 102, 'age': 29, 'value_set': (2, 4, 6), 5: {'nested': {2: 'a', 3: 'b'}}}

In [149]:
del t2['value_set']

In [150]:
t2

{'name': 'Roshan', 'id': 102, 'age': 29, 5: {'nested': {2: 'a', 3: 'b'}}}

In [151]:
del t2[5]

In [152]:
t2

{'name': 'Roshan', 'id': 102, 'age': 29}

In [153]:
dict1 = {1: "Python", 2: "Java", 3: "Ruby", 4: "Scala"}
dict1

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}

In [154]:
d2 = dict1.copy()

In [155]:
d2

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}

In [156]:
d2.get(1)

'Python'

In [157]:
d2.get(6,'none')

'none'

In [158]:
import array as arr

In [159]:
a = arr.array('i',[1,2,3,4])

In [160]:
a

array('i', [1, 2, 3, 4])

In [161]:
type(a)

array.array

In [164]:
for i in range(0,3):
    print(a[i], end= ' ')
print()

1 2 3

In [168]:
b = arr.array('f',[2.5, 3.2, 3.3])
b

array('f', [2.5, 3.200000047683716, 3.299999952316284])

In [166]:
for i in range(0, 3):
    print(b[i], end=" ")

2.5 3.2 3.3

In [169]:
for i in range(0, 3):
    print(a[i], end=" ")
print()
 
# inserting array using
# insert() function
a.insert(1, 4)

1 2 3

In [170]:
a

array('i', [1, 4, 2, 3, 4])

In [171]:
ad = arr.array('i',[2,4,7,9])

In [172]:
ad

array('i', [2, 4, 7, 9])

In [173]:
ad.insert(1,10)

In [174]:
ad

array('i', [2, 10, 4, 7, 9])