In [1]:
# Functions

In [14]:
def add():
    x = int(input('enter the number '))
    y = int(input('enter the number '))         # function without arguments and return
    z = x + y
    print(z)

In [16]:
add()

enter the number 35
enter the number 35
70

In [19]:
def add(x,y):
    z = x+y               # functtion with arguments and without return
    print(z)

In [20]:
add(10,15)

25

In [2]:
def concat(first,last):
    d = first +' '+ last      # function with arguents with return
    return d

In [3]:
g = concat('rtyd','adcs')

In [4]:
g

'rtyd adcs'

In [27]:
if g.startswith('rtyd'):
    print('please call him')
else:
    print('search another one')

please call him

In [56]:
# A simple Python function to check
# whether x is even or odd
lst_even = []
lst_odd = []

def even_odd(x,y):
    for i in range(x,y):
        if i % 2 == 0:
            lst_even.append(i)
        else:
            lst_odd.append(i)
    return lst_even,lst_odd

In [57]:
even_odd(1,10)

([2, 4, 6, 8], [1, 3, 5, 7, 9])

In [58]:
a = even_odd(1,50)

In [59]:
print(a)

([2, 4, 6, 8, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48], [1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49])

In [60]:
def file_process(file):
    if file.endswith('pdf'):
        print('file processing....')
    else:
        print('invalid file...')

In [62]:
file_process('abc.pdf')

file processing....

In [84]:
def grade_cal(per):
    if per>75:
        return 'Outstanding...'
    else:
        return 'Good'

In [85]:
g = grade_cal(78)

if g == 'Outstanding...':
    print('congratulations')
else:
    print('Nice')

congratulations

In [86]:
def fun():
    print('welcome to dynamic world.....')

In [87]:
fun()

welcome to dynamic world.....

In [91]:
def add(num1: int, num2:int)-> int:
    """add two numbers"""
    num3 = num1 + num2
    return num3

In [93]:
add(25,25)

50

In [ ]:
def add(num1: int, num2: int) -> int:
	"""Add two numbers"""
	num3 = num1 + num2

	return num3

# Driver code
num1, num2 = 5, 15
ans = add(num1, num2)
print(f"The addition of {num1} and {num2} results {ans}.")

In [104]:
# some more functions
def is_prime(n):
	if n in [2, 3]:
		return True
	if (n == 1) or (n % 2 == 0):
		return False
	r = 3
	while r * r <= n:
		if n % r == 0:
			return False
		r += 2
	return True
print(is_prime(78), is_prime(79))

False True

In [101]:
def is_prime(n):
    if n in [2,3]:
        return True
    if (n == 1) or (n %2==0):
        return False
    r = 3
    while r * r <= n:
        if n % r == 0:
            return False
        r += 2
        return True

In [111]:
is_prime(3)

True

In [3]:
# A simple Python function to check
# whether x is even or odd
def ev_o(x):
    if x % 2 == 0:
        print('even')
    else:
        print('odd')

In [4]:
ev_o(10)

even

In [5]:
ev_o(11)

odd

In [7]:
def dFun(x,y = 10):
    print(x)
    print(y)

In [9]:
dFun(15)

15
10

In [10]:
def student(firstname,lastname):
    print(firstname,lastname)

In [11]:
student('rtyd','adcs')

rtyd adcs

In [12]:
student(lastname = 'adcs',firstname = 'rtyd')

rtyd adcs

In [13]:
def add(a,b):
    print(a+b)

In [14]:
add(1,2)

3

In [15]:
def person_name(firstname,lastname):
    print(firstname+' '+lastname)

In [16]:
person_name('rtyd','Babu')

rtyd Babu

In [17]:
person_name('babu','rtyd')

babu rtyd

In [18]:
def fun(a,b,c,d):
    print(my_lst)

In [19]:
my_lst = [2,3,4,5]

In [21]:
fun(*my_lst)

[2, 3, 4, 5]

In [1]:
p = list(range(50))

In [2]:
p

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [4]:
def check_no(py):
    lst = []
    for i in py:
        if i%2!= 0:
            lst.append(i)
    return lst

In [5]:
check_no(p)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [22]:
import datetime
def file_name(fn):
    name = fn.split('.')[0]
    dt = datetime.datetime.date(datetime.datetime.now())
    filename = f'{name}_{dt}_DAI.pdf'
    return filename

In [23]:
file_name('abc.pdf')

'abc_2023-07-05_DAI.pdf'

In [24]:
file_name('rtyd.pdf')

'rtyd_2023-07-05_DAI.pdf'

In [26]:
file_name('Resume.pdf')

'Resume_2023-07-05_DAI.pdf'

In [27]:
def details(id,name,age,salary):
    print('id',id)
    print('name',name)
    print('age',age)
    print('salary',salary)

In [28]:
details(102,'rtyd',27,98500)

id 102
name rtyd
age 27
salary 98500

In [33]:
def add_var(*args):
    t = 0
    for i in args:
        t = t+i
    return t

In [35]:
add_var(10,2,3)

15

In [36]:
def student(firstname,lastname = 'Mark',std = 'Fifth'):
    print(firstname,lastname,'studies in',std,'standard')

In [40]:
student('John','Monk')

John Monk studies in Fifth Standard

In [41]:
student('rtyd',lastname = 'adcs')

rtyd adcs studies in Fifth Standard

In [60]:
student("rtyd",'kms','Btech')

rtyd kms studies in Btech Standard

In [39]:
def student(firstname, lastname ='Mark', standard ='Fifth'):
	print(firstname, lastname, 'studies in', standard, 'Standard')

# 1 positional argument
student('John')

# 3 positional arguments						
student('John', 'Gates', 'Seventh')	

# 2 positional arguments
student('John', 'Gates')				
student('John', 'Seventh')

John Mark studies in Fifth Standard
John Gates studies in Seventh Standard
John Gates studies in Fifth Standard
John Seventh studies in Fifth Standard

In [61]:
def appendItem(iname, ilst = []):
    ilst.append(iname)
    return ilst

In [62]:
appendItem('Books')

['Books']

In [63]:
appendItem('Pencil')

['Books', 'Pencil']

In [77]:
def itemToDic(iname,qty, itemlst = {}):
    itemlst[iname] = qty
    
    return itemlst

In [78]:
itemToDic('Pencil',10)

{'Pencil': 10}

In [66]:
itemToDic('books',5)

{'Pencil': 10, 'books': 5}

In [85]:
a = itemToDic('Rubber',15)

In [86]:
for k,v in a.items():
    print('items',k,'qty',v)

items Pencil qty 10
items bag qty 1
items Rubber qty 15

In [87]:
itemToDic('bag',1)

{'Pencil': 10, 'bag': 1, 'Rubber': 15}

In [88]:

for k,v in a.items():
    print('items',k,'value',v)

items Pencil value 10
items bag value 1
items Rubber value 15

In [90]:
def item_lst(iname,ilst = None):
    if ilst == None:
        ilst = []
        ilst.append(iname)
        return ilst

In [91]:
item_lst('Books')

['Books']

In [92]:
item_lst('Pencil')

['Pencil']

In [94]:
lst1 = item_lst('Bag')

In [95]:
lst1

['Bag']

In [101]:
def m(*arg):
    t = 1
    for i in arg:
        t = t*i
    return t

In [105]:
m(1,2,3,4,5,6,7)

5040

In [106]:
def pworld(*arg):
    for i in arg:
        print(i)

In [107]:
pworld('Hello','welcome','to','python','world')

Hello
welcome
to
python
world

In [111]:
def pworld1(arg1, *arg):
    print(arg1)
    for i in arg:
        print(i)

In [114]:
pworld1('Goodmorning','welcome','to','python','world')

Goodmorning
welcome
to
python
world

In [121]:
def person_details(**kargs):
    for k,v in kargs.items():
        print(k,':- ',v)

In [125]:
a = person_details(name = 'rtyd',id = 101,city = 'Pune')

name :-  rtyd
id :-  101
city :-  Pune

In [123]:
import pandas as pd

In [134]:
df = pd.DataFrame(['rtyd',27,98540],['Ajay',25,65400])

In [135]:
df

            0
Ajay   rtyd
25         27
65400   98540

In [142]:
class Info:
    def __init__(self,*arg):
        self.name = arg[0]
        self.age = arg[1]
        
    def show(self):
        print('name',self.name)
        print('age',self.age)
        
obj = Info('rtyd',27)
obj.show()

name rtyd
age 27

In [144]:
class Vehicles:
    def __init__(self,**kwargs):
        self.speed = kwargs['s']
        self.color = kwargs['c']
        
    def show(self):
        print(self.speed)
        print(self.color)
        
obj = Vehicles(s = 250, c = 'Red' )
obj.show()

250
Red

In [145]:
def gen():
    yield 'Hello rtyd'
    yield 'This is Generator function'
    yield 'This is Python World'
    yield 'Thank you...'

In [151]:
obj = gen()

In [148]:
next(obj)

'Hello rtyd'

In [152]:
for i in obj:
    print(i)

Hello rtyd
This is Generator function
This is Python World
Thank you...

In [ ]:
def inf_sequence():
	num = 0
	while True:
		yield num
		num += 1
		
for i in inf_sequence():
	print(i, end=" ")

In [21]:
def inf_num():
    num = 0
    while num < 500:    # print number from 0 to 499 by using generator
        yield num
        num +=1

In [22]:
obj = inf_num()

In [23]:
for i in obj:
    print(i,end= ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499

In [9]:
def inf_gen(x):
    num = 0
    while num<x:
        yield num
        num += 1

In [19]:
obj1 = inf_gen(101)

In [20]:
for i in obj1:
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [17]:
next(obj1)

2

In [35]:
def ev_lst(lst):
    for i in lst:
        if i % 2 == 0:
            yield i

In [32]:
lst = list(range(50))

In [33]:
obj = ev_lst(lst)

In [34]:
for i  in obj:
    print(i,end = ' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [36]:
for i in ev_lst(list(range(20))):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# func to count number of given word
def print_even(test_string):
	for i in test_string:
		if i == "geeks":
			yield i


# initializing string
test_string = " There are many geeks around you, \
			geeks are known for teaching other geeks"

# count numbers of geeks used in string
count = 0
print("The number of geeks in string is : ", end="")
test_string = test_string.split()

for j in print_even(test_string):
	count = count + 1

print(count)

In [37]:
def c_str(str_lst):
    for i in str_lst:
        if i == 'geeks':
            yield i

In [45]:
str_lst = " There are many geeks around you, \geeks geeks geeks geeks geeks are known for teaching other geeks"

In [46]:
str_lst = str_lst.split()

In [47]:
str_lst

['There',
 'are',
 'many',
 'geeks',
 'around',
 'you,',
 '\\geeks',
 'geeks',
 'geeks',
 'geeks',
 'geeks',
 'are',
 'known',
 'for',
 'teaching',
 'other',
 'geeks']

In [48]:
count = 0
for j in c_str(str_lst):
    count += 1
print(count)

6

In [18]:
def kl():
    num = 0
    while num<50:
        yield num
        num += 1

In [20]:
obj = kl()
for i in obj:
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [25]:
print(type(type(int)))

<class 'type'>

In [22]:
type(int)

type

In [27]:
chr(ord('A'))

'A'

In [38]:
chr(65)

'A'

In [39]:
y = 8
z = lambda x: x*y

z(10)

80

In [41]:
import time
time.time()

1688617112.5869112

In [42]:
# Lambda Function

In [43]:
def cube(x):
    return x**3

In [44]:
cube(7)

343

In [45]:
Lcube = lambda x: x**3

In [46]:
Lcube(7)

343

In [47]:
Lcube(2)

8

In [51]:
str1 = 'rtyd adcs'

zlst = lambda x:x.lower()

In [53]:
zlst(str1)

'rtyd adcs'

In [56]:
(lambda x,y : x if x > y else y)(10,25)

25

In [57]:
(lambda x,y: x+y)(15,35)

50

In [60]:
(lambda x,y: x**2+2*x*y+y**2)(14,12)

676

In [62]:
round((lambda x,y,z: (x+y+z)/3)(30,35,45),2)

36.67

In [98]:
lst = (lambda arg = x : x*10 for x in range(1,5))

In [99]:
for item in lst:
    print(item())

10
20
30
40

In [87]:

is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]
for item in is_even_list:
    print(item())

10
20
30
40

In [100]:
max1 = (lambda a,b: a if(a>b) else b)

In [101]:
max1(5,12)

12

In [102]:
max(12,4)

12

In [103]:
min1 = (lambda x,y: x if(x<y) else y)

In [104]:
min1(0,5)

0

In [105]:
min1(15,35)

15

In [106]:
min1(35,12)

12

In [107]:
min(12,45)

12

In [109]:
lst = [[2,3,4],[1, 45, 16, 64],[3, 6, 9, 12]]

for i in lst:
    print(sorted(i))

[2, 3, 4]
[1, 16, 45, 64]
[3, 6, 9, 12]

In [111]:

List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
 
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)
 
# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)
 
print(res)

[3, 16, 9]

In [120]:
lst5 = []
for y in lst:
    a = y[len(y)-2]
    lst5.append(a)
print(lst5)

[3, 16, 9]

In [122]:
len(lst)-2

1

In [127]:
lst1 = range(0,15)

In [128]:
def sqr(x):
    return x**2

In [129]:
lstsqr = list(map(sqr,lst1))

In [130]:
lstsqr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [140]:
def square(x):
    return x**2

In [143]:
lst = range(5)
lkh = list(map(square,lst))
lkh

[0, 1, 4, 9, 16]

In [152]:
def double(x):
    return x+x

In [153]:
Tlst = range(10)
res = map(double,Tlst)

print(list(res))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [154]:
resL = map(lambda x: x+x,Tlst)
print(list(resL))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [156]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

res_add = map(lambda x,y: x+y,numbers1,numbers2)

print(list(res_add))

[5, 7, 9]

In [157]:
str1 = 'rtyd'

In [158]:
list(str1)

['R', 'o', 's', 'h', 'a', 'n']

In [159]:
lstS = ['apple','banana','grapes','mango']

In [163]:
res = map(lambda x: list(x),lstS)
a = list(res)
print(a)

[['a', 'p', 'p', 'l', 'e'], ['b', 'a', 'n', 'a', 'n', 'a'], ['g', 'r', 'a', 'p', 'e', 's'], ['m', 'a', 'n', 'g', 'o']]

In [164]:
a

[['a', 'p', 'p', 'l', 'e'],
 ['b', 'a', 'n', 'a', 'n', 'a'],
 ['g', 'r', 'a', 'p', 'e', 's'],
 ['m', 'a', 'n', 'g', 'o']]

In [191]:
for i in a:
    ls_join = ''.join(i)
    print(ls_join)

apple
banana
grapes
mango

In [198]:
def d_even(x):
    if x % 2 ==0:
        return x*2
    else:
        return x

In [201]:
num_lst = [1,2,3,4,5,6,7,8]

m_res = map(d_even,num_lst)

print(list(m_res))

[1, 4, 3, 8, 5, 12, 7, 16]

In [208]:
num = range(0,20)

lres = map(lambda x: x**3 if x%2 == 0 else x**2, num)

print(list(lres))

[0, 1, 8, 9, 64, 25, 216, 49, 512, 81, 1000, 121, 1728, 169, 2744, 225, 4096, 289, 5832, 361]

In [209]:
p = range(0,21,2)

xz = map(lambda x: x**2,p)

print(list(xz))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [219]:
lst_e = ['Python','java','Golang','html','css','Ml','Haddop']

len_m = map(lambda x : len(x),lst_e)

print(list(len_m))

[6, 4, 6, 4, 3, 2, 6]

In [221]:
py = ['rtyd@gmail.com','ajay@gmail.com','mohan@yahoo.com','hina@orkut.com','kajal@jgssgh.com']

list(map(lambda x: x.split('@')[0],py))

['rtyd', 'ajay', 'mohan', 'hina', 'kajal']

In [234]:
py_d = {'name':'rtyd','id':123,'sal':89500,'city':'pune'}

list(map(lambda x: list(x),py_d.items()))

[['name', 'rtyd'], ['id', 123], ['sal', 89500], ['city', 'pune']]

In [225]:
py_d

{'name': 'rtyd', 'id': 123, 'sal': 89500, 'city': 'pune'}

In [244]:
lkr = range(0,10)

list(filter(lambda x: (x%2 == 0),lkr))

[0, 2, 4, 6, 8]

In [245]:
py_lst = [1,5,7,'abc',56,'shgsh','sjjk',685]

list(filter(lambda x: type(x) == str,py_lst))

['abc', 'shgsh', 'sjjk']

In [246]:
def fun(variables):
    letters = ['a','e','i','o','u']
    
    if variables in letters:
        return True
    else:
        return False

In [251]:
fun('i')

True

In [252]:
seq = ['d','e','s','a','g','k','m','o','u']

list(filter(fun,seq))

['e', 'a', 'o', 'u']

In [266]:
pq =  ['k','l','i','o','a','j','q','r','a']
list(filter(lambda x: True if x in  ['a','e','i','o','u'] else False,pq))

['i', 'o', 'a', 'a']

In [264]:
pq =  ['k','l','i','o','a','j','q','r','a']
list(filter(lambda x: False if x in  ['a','e','i','o','u'] else True,pq))

['k', 'l', 'j', 'q', 'r']

In [269]:
def mul_3(x):
    return x%3==0

In [281]:
ls = range(1,31)
list(filter(mul_3,ls))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [278]:
list(filter(lambda x: x%3==0,ls))

[0, 3, 6, 9, 12, 15, 18]

In [279]:
lkr = range(0,10)

list(filter(lambda x: (x%2 == 0),lkr))

[0, 2, 4, 6, 8]

In [282]:
list(filter(lambda x:mul_3(x),ls))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [283]:
# List comprehension

In [284]:
py_lst = range(0,20)

[i for i in py_lst if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [285]:
py_lst = range(0,20)

[i for i in py_lst if i%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [286]:
klst = [221,256,214,23,56,78,47,96,58,79,12,14,13,15,16]

In [293]:
[i for i in klst if i %2==0]

[256, 214, 56, 78, 96, 58, 12, 14, 16]

In [298]:
dates = ['12/10/2023','17/10/1993','5/4/2021','6/7/2015']

[i.split('/')[0] for i in dates]

['12', '17', '5', '6']

In [299]:
[i for i in range(1,15) if i%2 ==0]

[2, 4, 6, 8, 10, 12, 14]

In [311]:
import time
begin = time.time()
print('hello world')
end = time.time()

print(end-begin)

hello world
0.0

In [306]:
[[j for j in range(4)] for i in range(2)]

[[0, 1, 2, 3], [0, 1, 2, 3]]

In [314]:
# using lambda to print table of 10
import time
begin = time.time()
numbers = []

for i in range(1, 6):
	numbers.append(i*10)
end = time.time()

print(end-begin)

print(numbers)

0.0
[10, 20, 30, 40, 50]

In [317]:
num = list(map(lambda i: i*10,[i for i in range(1,11)]))        # list(map(lambda x: x))
num

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [1]:
# Fibonacci series

In [2]:
def fb(n):
    a,b = 0,1
    
    while a<n:
        print(a,end=' ')
        a,b = b,a+b
    print()

In [4]:
fb(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [8]:
def fb1(n):
    a,b = 0,1
    
    while a<n:
        print(a,end=' ')
        a,b = b,a+b
    print()

In [10]:
fb1(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [11]:
result = []
def ffib(n):
    a,b = 0,1
    
    while a<n:
        result.append(a)
        a,b = b,a+b
    print(result)

In [12]:
ffib(100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [14]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [19]:
ask_ok('do you want to quite?')

do you want to quite?n

False

In [24]:
def l(a,lst = None):
    if lst == None:
        m = []
        m.append(a)
    return m

In [25]:
l(20)

[20]

In [1]:
# from sir notes

def myFunction():
    print('Hello Python this is the function....')

In [2]:
myFunction()

Hello Python this is the function....

In [10]:
def myf(name):
    print(name,'','adcs')

In [11]:
myf('rtyd')

rtyd  adcs

In [12]:
def add():
    x = input('enter the number ')
    y = input('enter the number ')
    print(int(x)+int(y))

In [13]:
add()

enter the number 15
enter the number 25
40

In [14]:
def add(x,y):
    print(x+y)

In [15]:
add(54,23)

77

In [20]:
def add(x,y):
    z = x+y
    return print(f'addition of {x} and {y} is -> {z}')

In [21]:
add(25,65)

addition of 25 and 65 is -> 90

In [22]:
def add():
    x = int(input('enter the value '))
    y = int(input('enter the value '))
    z = x+y
    return print(f'addition of {x} and {y} is :- {z}')

In [23]:
add()

enter the value 36
enter the value 65
addition of 36 and 65 is :- 101

In [26]:
def temp(*arg):
    print('*'*50)
    print(arg)
    print('*'*50)

In [27]:
temp(15,25,30,25,65,48,78)

**************************************************
(15, 25, 30, 25, 65, 48, 78)
**************************************************

In [30]:
def myfu(*kids):
    print('my youngest child is {}'.format(kids[1]))

In [31]:
myfu('A','C','B')

my youngest child is C

In [41]:
def myct(**kids):
    print('This is here child ',kids["lst"])

In [42]:
myct(name = 'rtyd',lst = 'adcs')

This is here child  adcs

In [43]:
def mf(food):
    for i in food:
        print(i)
        
f = ['Apple','banana','mango','grapes']

In [44]:
mf(f)

Apple
banana
mango
grapes

In [48]:
def try_rec(k):
    if (k>0):
        res = k + try_rec(k-1)
        return res
    else:
        res = 0
        return res

In [55]:
try_rec(100)

5050

In [59]:
def even(x):
    if x%2==0:
        return True
    else:
        return False

In [60]:
p = [2,4,5,7,8,9,6,5,2]

In [67]:
sorted(list(filter(even,p)))

[2, 2, 4, 6, 8]

In [68]:
course = 'Global'
def temp():
    global course
    course = 'Java'
    print(course)

In [69]:
temp()

Java

In [70]:
def temp1():
    print(course)

In [71]:
temp1()

Java

In [72]:
def ssa(x,y,z):
    global a
    a = x
    global b
    b = y
    global c
    c = z
    print(a,b,c)

In [73]:
ssa(10,12,14)

10 12 14

In [86]:
x = 25
def glo():
    x = 10
    print(x)

In [87]:
glo()

10

In [88]:
x

25

In [97]:
# Local and Global variables

def local():
    s = 'Hello rtyd this is local variable'   # inside function variable is local variable, 
                                                # which are not accesible outside the function
    print(s)

In [98]:
local()

Hello rtyd this is local variable

In [101]:
h = 'hello rtyd'

def glob():
                                                            # The variable h is defined as the global variable and is used 
                                                            # both inside the function as well as outside the function.
    print('this is global var access inside fun ',h)

In [104]:
glob()
print('access outside the fun ',h)

This is test for Global variable access
this is global var access inside fun  hello rtyd
access outside the fun  hello rtyd

In [105]:
def test():
    s = 'rtyd'
    print(s)

s = 'Amitabh'
                    # same variable name inside and outside the function..... 
test()          # its consider local variable
print(s)        # its consider global variable

rtyd
Amitabh

In [115]:
name = 'rtyd'
def fullname():
    name = name + 'adcs'   # for access global varaible need to write keyword global when name is same 
    print(name)

In [109]:
fullname()

UnboundLocalError: local variable 'name' referenced before assignment

In [113]:
name = 'rtyd '
def fullname():
    global name
    name = name + 'adcs'
    print(name)

In [114]:
fullname()

rtyd adcs

In [31]:
a = 1

def inf():
    global a
    a = 2
    print('This is inside function:-',a)

In [32]:
inf()

This is inside function:- 2

In [33]:
# global variable
a = 15
b = 35

# function to perform addition
def add():
    z = a+b
    return z

# calling function
add()

50

In [37]:
arr = [10,20,30]

def add_sum():
    for i in range(len(arr)):
        arr[i] += 10
print(arr)

[10, 20, 30]

In [39]:
add_sum()
print(arr)

[40, 50, 60]

In [ ]:
arr = [10, 20, 30]


def fun():
	for i in range(len(arr)):
		arr[i] += 10


print("'arr' list before executing fun():", arr)
fun()
print("'arr' list after executing fun():", arr)

In [40]:
arr

[40, 50, 60]

In [41]:
add_sum()

In [42]:
arr

[50, 60, 70]

In [44]:
# First Class functions in Python
def shout(text):
    return text.upper()

In [45]:
ya = shout('rtyd')

In [46]:
ya

'rtyd'

In [47]:
shout('Apple')

'APPLE'

In [48]:
ya = shout

In [49]:
ya('mango')

'MANGO'

In [65]:
def shout(txt):
    return txt.upper()

def whisper(txt):
    return txt.lower()

def greet(fun):
    
    greetings = fun('''Hello this is python, have knowledge about it....''')
    print(greetings)

In [66]:
greet(shout)
greet(whisper)

HELLO THIS IS PYTHON, HAVE KNOWLEDGE ABOUT IT....
hello this is python, have knowledge about it....

In [76]:
# Nested functions in Python

def outerfun(txt):
    
    def innerfun():
        print(txt)
    innerfun()
    
if __name__ == '__main__':
    outerfun('Have a nice day...')

Have a nice day...

In [77]:
def out(txt):
    
    def ins():
        print(txt)
    ins()
    
if __name__== '__main__':
    out('Hello This is python....')

Hello This is python....

In [78]:
# Python program to illustrate
# closures
def outerFunction(text):

	def innerFunction():
		print(text)

	# Note we are returning function
	# WITHOUT parenthesis
	return innerFunction

if __name__ == '__main__':
	myFunction = outerFunction('Hey!')
	myFunction()

Hey!

In [79]:
# Python program to illustrate
# closures
import logging
logging.basicConfig(filename='example.log',
					level=logging.INFO)

def logger(func):
	def log_func(*args):
		logging.info(
			'Running "{}" with arguments {}'.format(func.__name__,
													args))
		print(func(*args))
		
	# Necessary for closure to
	# work (returning WITHOUT parenthesis)
	return log_func			

def add(x, y):
	return x+y

def sub(x, y):
	return x-y

add_logger = logger(add)
sub_logger = logger(sub)

add_logger(3, 3)
add_logger(4, 5)

sub_logger(10, 5)
sub_logger(20, 10)

6
9
5
10

In [1]:
def doc(text):
    return text.upper()

def doc1(text1):
    return text1.lower()

def show(funct):
    word = funct('This is programming Language')
    print(word)

In [3]:
show(doc)
show(doc1)

THIS IS PROGRAMMING LANGUAGE
this is programming language

In [11]:
# Decorator
def greet(fx):
    
    def decor():
        print('Good morning')
        fx()
        print('Thanks for visiting')
    return decor


@greet
def hello():
    print("hello world")

In [12]:
hello()

Good morning
hello world
Thanks for visiting

In [23]:
def gvar(fd):
    def mfx(*args,**kargs):
        print('addition')
        fd(*args,**kargs)
        print('Thanks for addition')
    return mfx

@gvar
def add(a,b):
    print(a+b)

In [24]:
add(2,5)

addition
7
Thanks for addition

In [29]:
import time
import math

def cal_time(func):
    
    def inner1(*arg,**kwargs):
        begin = time.time()
        func(*arg,**kwargs)
        end = time.time()
        print(end-begin)
    return inner1

@cal_time
def factorial(x):
    time.sleep(5)
    print(math.factorial(x))
    
    
factorial(10)

3628800
5.011561870574951