## Dictionary

In [2]:
car_details = {'Name':'BMW','Price':750000,'Color':'Red','HP':39}

In [3]:
car_details

{'Name': 'BMW', 'Price': 750000, 'Color': 'Red', 'HP': 39}

In [4]:
car_details['HP']

39

In [5]:
car_details['Price']

750000

In [6]:
car_details.get('Color','Key is not prsent')

'Red'

In [7]:
car_details['Version'] = 'Premium'

In [8]:
car_details

{'Name': 'BMW',
 'Price': 750000,
 'Color': 'Red',
 'HP': 39,
 'Version': 'Premium'}

In [9]:
car_details['Year']= 2022

In [10]:
car_details['Model']='BS6'

In [11]:
car_details

{'Name': 'BMW',
 'Price': 750000,
 'Color': 'Red',
 'HP': 39,
 'Version': 'Premium',
 'Year': 2022,
 'Model': 'BS6'}

In [12]:
car_details.update({'City':'Pune','qty':10,'Brand':'Ultra'})

In [13]:
print(car_details)

{'Name': 'BMW', 'Price': 750000, 'Color': 'Red', 'HP': 39, 'Version': 'Premium', 'Year': 2022, 'Model': 'BS6', 'City': 'Pune', 'qty': 10, 'Brand': 'Ultra'}

In [57]:
p = {
    'var1':{'name':'izack','Age':26,'Class':'1st'},
    'var2':{'Education':'BE','Collage':'klt','Branch':'ME'},
    'var3':{'ID':'abc123','Comp':'kmle','Dept':'hgtg'},
    'var4':{'Model':'BMW','Price':75000,'Year':2023}
}

In [58]:
p

{'var1': {'name': 'izack', 'Age': 26, 'Class': '1st'},
 'var2': {'Education': 'BE', 'Collage': 'klt', 'Branch': 'ME'},
 'var3': {'ID': 'abc123', 'Comp': 'kmle', 'Dept': 'hgtg'},
 'var4': {'Model': 'BMW', 'Price': 75000, 'Year': 2023}}

In [65]:
p["var4"]

{'Model': 'BMW', 'Price': 75000, 'Year': 2023}

In [66]:
p.keys()

dict_keys(['var1', 'var2', 'var3', 'var4'])

In [69]:
p.values()

dict_values([{'name': 'izack', 'Age': 26, 'Class': '1st'}, {'Education': 'BE', 'Collage': 'klt', 'Branch': 'ME'}, {'ID': 'abc123', 'Comp': 'kmle', 'Dept': 'hgtg'}, {'Model': 'BMW', 'Price': 75000, 'Year': 2023}])

In [70]:
p.items()

dict_items([('var1', {'name': 'izack', 'Age': 26, 'Class': '1st'}), ('var2', {'Education': 'BE', 'Collage': 'klt', 'Branch': 'ME'}), ('var3', {'ID': 'abc123', 'Comp': 'kmle', 'Dept': 'hgtg'}), ('var4', {'Model': 'BMW', 'Price': 75000, 'Year': 2023})])

In [71]:
car_d = {'name':['Audi','BMW'],'price':[75000,98000],'mil':[10,15],'color':['Red','Blue']}

In [72]:
car_d

{'name': ['Audi', 'BMW'],
 'price': [75000, 98000],
 'mil': [10, 15],
 'color': ['Red', 'Blue']}

In [73]:
car_d['name'][0]

'Audi'

In [74]:
car_d['price'][0]

75000

In [75]:
car_d['mil'][0]

10

In [76]:
car_d['color'][0]

'Red'

In [78]:
car_details

{'Name': 'BMW',
 'Price': 750000,
 'Color': 'Red',
 'HP': 39,
 'Version': 'Premium',
 'Year': 2022,
 'City': 'Pune',
 'qty': 10,
 'Brand': 'Ultra'}

In [79]:
car_details.pop('Brand')

'Ultra'

In [81]:
car_details.popitem()

('qty', 10)

In [82]:
car_details

{'Name': 'BMW',
 'Price': 750000,
 'Color': 'Red',
 'HP': 39,
 'Version': 'Premium',
 'Year': 2022,
 'City': 'Pune'}

In [83]:
k = {'Id','Name','Sal'}

In [100]:
dict.fromkeys(k,100)

{'Sal': 100, 'Name': 100, 'Id': 100}

In [26]:
sa =dict.fromkeys(B)

In [27]:
B = {'Id','Name','Sal'}

In [28]:
sa

{'Sal': None, 'Id': None, 'Name': None}

In [30]:
sa['Id']=2274

In [31]:
sa['Name']='izack'

In [32]:
sa['Sal']=95000

In [39]:
sa

{'Sal': 95000,
 'Id': 2274,
 'Name': 'izack',
 'Comapny': 'ABC',
 'LastName': 'Kumar',
 'Status': 'single',
 'Age': 25}

In [36]:
sa['Comapny']='ABC'

In [38]:
sa.update({'LastName':'Kumar','Status':'single','Age':25})

In [40]:
temp2 = {'A','B','C'}

In [41]:
temp3 = dict.fromkeys(temp2)

In [42]:
temp3

{'A': None, 'B': None, 'C': None}

In [45]:
sa.items()

dict_items([('Sal', 95000), ('Id', 2274), ('Name', 'izack'), ('Comapny', 'ABC'), ('LastName', 'Kumar'), ('Status', 'single'), ('Age', 25)])

In [19]:
B = {'Name','Id','Sal'}

type(B)

set

In [90]:
temp = dict.fromkeys(k)

In [91]:
temp

{'Sal': None, 'Name': None, 'Id': None}

In [93]:
temp['Id'] = 'abc123'

In [94]:
temp

{'Sal': None, 'Name': None, 'Id': 'abc123'}

In [96]:
temp['Name']='izack'

In [97]:
temp['Sal']=80000

In [98]:
temp

{'Sal': 80000, 'Name': 'izack', 'Id': 'abc123'}

In [102]:
import pandas as pd

In [104]:
pd.DataFrame(car_d)

   name  price  mil color
0  Audi  75000   10   Red
1   BMW  98000   15  Blue

In [106]:
for i in car_d:
    print(car_d[i])

['Audi', 'BMW']
[75000, 98000]
[10, 15]
['Red', 'Blue']

In [107]:
temp

{'Sal': 80000, 'Name': 'izack', 'Id': 'abc123'}

In [108]:
temp.setdefault('Name','Mohan')

'izack'

In [109]:
temp.setdefault('City','Nagpur')

'Nagpur'

In [110]:
temp

{'Sal': 80000, 'Name': 'izack', 'Id': 'abc123', 'City': 'Nagpur'}

In [1]:
ab = {'Id','Name','Age'}

In [5]:
bc = dict.fromkeys(ab)

In [6]:
bc['Age']=25

In [7]:
bc['Name']= 'izack'

In [10]:
bc['Id']= 101

In [11]:
bc

{'Age': 25, 'Id': 101, 'Name': 'izack'}

In [2]:
c_dict = {('apple','banana','orange'):'Fruit','Fruit':'category','Price':'45 Rs/kg'}

In [3]:
c_dict

{('apple', 'banana', 'orange'): 'Fruit',
 'Fruit': 'category',
 'Price': '45 Rs/kg'}

In [5]:
c_dict[('apple','banana','orange')]

'Fruit'

In [6]:
c_dict.popitem()

('Price', '45 Rs/kg')

In [7]:
s = {'Name','City','Pin'}

In [9]:
s_dict= dict.fromkeys(s)

In [10]:
s_dict['Name']='izack'

In [11]:
s_dict['City']='kkd'

In [12]:
s_dict['Pin']=12565

In [13]:
s_dict

{'City': 'kkd', 'Pin': 12565, 'Name': 'izack'}

In [14]:
s_dict['Name']

'izack'

In [16]:
s_dict.get('agdjhd','key is not presnt')

'key is not presnt'

In [32]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}

for i in capitals:
    print("Key = "+ i+ ",value =", capitals[i])

Key = USA,value = Washington D.C.
Key = France,value = Paris
Key = India,value = New Delhi

In [20]:
Value = " + capitals[key]

NameError: name 'value' is not defined

In [27]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}

for key in capitals:
    print("Key = " + key + ", Value = " + capitals[key])

Key = USA, Value = Washington D.C.
Key = France, Value = Paris
Key = India, Value = New Delhi

In [41]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}

for i in capitals:
    print('key:- '+ i, ',value: '+capitals[i])

key:- USA ,value:= Washington D.C.
key:- France ,value:= Paris
key:- India ,value:= New Delhi

In [42]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}

for i in capitals:
    print(capitals[i])

Washington D.C.
Paris
New Delhi

In [44]:
captains = {"England":"Root", "Australia":"Smith", "India":"Dhoni"}
captains['India'] = 'Virat'
captains['Australia'] = 'Paine'
captains

{'England': 'Root', 'Australia': 'Paine', 'India': 'Virat'}

In [45]:
captains['India']='izack'

In [46]:
captains

{'England': 'Root', 'Australia': 'Paine', 'India': 'izack'}