In [1]:
def rdb(x,y):
    z = x+y
    return z

In [5]:
r_add = rdb(45,45)

In [6]:
if r_add > 80:
    print('Good')
else:
    print('not Good')

Good

In [24]:
def file_name(file):
    if file.endswith('pdf') and file.startswith('main'):
        
        return True
    else:
        return False

In [30]:
file_name('main.pdf')

True

In [29]:
t = file_name('main.pdf')

if t:
    print('file Processing.......')
else:
    print('invalid file')

invalid file

In [49]:
def greet():
    
#     "this is the statements of greetings"
#     name = input('enter your name ')
#     last_name = input('can You tell me lastName? ')
#     ls = input('enter lastname ')

#     if last_name == 'Yes'.lower():
        
#         print('Hello ', name,ls)
#     else:
#         print('fisrt tell me your lastname')

In [51]:
greet()

enter your name hjgj
can You tell me lastName? no
enter lastname ss
fisrt tell me your lastname

In [52]:
def greet():
    
    print('Hello World')

In [53]:
greet()

Hello World

In [57]:
val = greet()

print(val)

Hello World
None

In [59]:
val= greet()

Hello World

In [60]:
help(greet)

Help on function greet in module __main__:

greet()

In [61]:
help(rdb)

Help on function rdb in module __main__:

rdb(x, y)

In [62]:
def greet(name):
    print('Hello ',name)

In [64]:
greet('izack')

Hello  izack

In [66]:
greet('lily');greet('How are you')

Hello  lily
Hello  How are you

In [67]:
def abc(name:str):
    print('Hello ',name)

In [68]:
abc('izack')

Hello  izack

In [69]:
abc(123)

Hello  123

In [71]:
def abc(name1,name2,name3):
    print('hello',name1,name2,name3)

In [72]:
abc('izack','lily','grace')

hello izack lily grace

In [73]:
def abc(*name):
    print('Hello ',name[2],name[0],name[3],name[1])

In [75]:
abc('izack','Ajay','Govinda','Rakesh')

Hello  Govinda izack Rakesh Ajay

In [80]:
def r_nge():
    for i in range(1,21):
        if i%2==0:
            print(f"Even Number.{i}")
        else:
            print(f"Odd Number.{i}")

In [81]:
r_nge()

Odd Number.1
Even Number.2
Odd Number.3
Even Number.4
Odd Number.5
Even Number.6
Odd Number.7
Even Number.8
Odd Number.9
Even Number.10
Odd Number.11
Even Number.12
Odd Number.13
Even Number.14
Odd Number.15
Even Number.16
Odd Number.17
Even Number.18
Odd Number.19
Even Number.20

In [82]:
def greet(*names):
	i=0
	print('Hello ', end='')
	while len(names) > i:
		print(names[i], end=', ')
		i+=1

greet('Steve', 'Bill', 'Yash') 
greet('Steve', 'Bill', 'Yash', 'Kapil', 'John', 'Amir')

Hello Steve, Bill, Yash, Hello Steve, Bill, Yash, Kapil, John, Amir,

In [99]:
def greet(*names):
    i = 0
    print('hello ',end = ' ')
    while len(names) > i:
        print(names[i],end = ', ')
        i+=1

In [100]:
greet('izack','mhn','mld','kml')

hello  izack, mhn, mld, kml,

In [115]:
def even_odd(i):
    if i%2==0:
        return 'Even Number'
    else:
        return 'Odd Number'

In [119]:
even_odd(20)

'Even Number'

In [121]:
even_odd(25+30+75)

'Even Number'

In [122]:
even = even_odd(20)

In [123]:
even

'Even Number'

In [126]:
p = list(range(100))

In [128]:
def check_no(py):
    temp = []
    for i in py:
        if i%2==0:
            temp.append(i)
    return temp

In [130]:
t = check_no(p)

In [131]:
len(t)

50

In [134]:
print(t)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [135]:
def check(x):
    pk = []
    for i in x:
        if i%2==1:
            pk.append(i)
    return pk

In [137]:
s = check(p)

In [138]:
print(s)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [139]:
len(s)

50

In [6]:
def new_div():
    x = int(input('enter the first number '))
    y = int(input('enter the second number '))
    if y == 0:
        print('cannot devide by zero')
    else:
        
        print(x/y)

In [8]:
new_div()

enter the first number 54
enter the second number 0
cannot devide by zero

In [ ]:
fn_date_RDB.pdf

In [17]:
def file_nameB(fn):
    name = fn.split('.')[0]
    dt = datetime.datetime.date(datetime.datetime.now())
    filename = f"{name}_{dt}_RDB.pdf"
    return filename

In [18]:
file_nameB('abc.pdf')

'abc_2023-02-21_RDB.pdf'

In [21]:
def abc(py):
    fn = py.split('.')[0]
    dt = datetime.datetime.date(datetime.datetime.now())
    file = f"{fn}_{dt}_RDB.pdf"
    return file

In [22]:
abc('cv.pdf')

'cv_2023-02-21_RDB.pdf'

In [9]:
import datetime

In [10]:
datetime.datetime.date(datetime.datetime.now())

datetime.date(2023, 2, 21)

In [33]:
def abc(py):
    fn = py.split('.')[0]
    ext = py.split('.')[1]
    dt = datetime.datetime.date(datetime.datetime.now())
    file = f"{fn}_{dt}_RDB.{ext}"
    if file.endswith('pdf'):
        return file
    elif file.endswith('xlxs'):
        return file
    else:
        return 'file not supported'

In [36]:
abc('python.pdf')

'python_2023-02-21_RDB.pdf'

In [37]:
# 1. Positional Arguments

In [38]:
def prd_details(id,name,qty,price,loc):
    print('Id : ',id)
    print('Name : ',name)
    print('Qty ; ',qty)
    print('Price : ',price)
    print('Loc :',loc)

In [39]:
prd_details(101,'ParleG',10,500,'India')

Id :  101
Name :  ParleG
Qty ;  10
Price :  500
Loc : India

In [43]:
prd_details(101,'ParleG',10,500,'India')

Id :  101
Name :  ParleG
Qty ;  10
Price :  500
Loc : India

In [55]:
def per_details(id,name,salary,pan,aadhar):
    print('Id: ',id)
    print('Name: ',name)
    print('Salary: ',salary)
    print('Pan: ',pan)
    print('Aadhar: ',aadhar)

In [61]:
per_details(101,'izack',45000,'BTV20125',658454555446)

Id:  101
Name:  izack
Salary:  45000
Pan:  BTV20125
Aadhar:  658454555446

In [57]:
# 2. Default Arguments

In [59]:
def per_details(id,name,salary,pan,aadhar = None):
    print('Id: ',id)
    print('Name: ',name)
    print('Salary: ',salary)
    print('Pan: ',pan)
    print('Aadhar: ',aadhar)

In [64]:
per_details(101,'izack',45000,'BTV20125')

Id:  101
Name:  izack
Salary:  45000
Pan:  BTV20125
Aadhar:  None

In [65]:
# 3. Variable length Argumnets

In [66]:
def test(*args):
    print(args)

In [67]:
test('izack',10,20,65,12,88,'Ajay')

('izack', 10, 20, 65, 12, 88, 'Ajay')

In [68]:
def add_var(*args):
    t = 0
    for i in args:
        t = t+i
    return t

In [72]:
add_var(10,25,45)

80

In [73]:
# 4. Keywords Arguments

In [74]:
def per_details(id,name,salary,pan,aadhar):
    print('Id: ',id)
    print('Name: ',name)
    print('Salary: ',salary)
    print('Pan: ',pan)
    print('Aadhar: ',aadhar)

In [77]:
per_details(aadhar = 856555565,salary= 65666,name = 'izack',id = 454,pan = 'BVC55444')

Id:  454
Name:  izack
Salary:  65666
Pan:  BVC55444
Aadhar:  856555565

In [78]:
def myfunct(fname):
    print('Fname',fname)

In [79]:
myfunct('izack')

Fname izack

In [85]:
def my_function(*kids):
    print('The oldest child is ',kids[0])
    print("The youngest child is " , kids[1])

my_function("Emil", "Tobias", "Linus")

The oldest child is  Emil
The youngest child is  Tobias

In [86]:
# 5. Variable length keywords agruments

In [87]:
def test_key(**kwargs):
    print(kwargs)

In [91]:
 ab = test_key(Id=101,Salary=95000,Name='izack',loc='mkly')

{'Id': 101, 'Salary': 95000, 'Name': 'izack', 'loc': 'mkly'}

In [93]:
a=10
def myfunction():
    a=20
    return
print('a=',a)

a= 10

In [107]:
def fl(fn,ln):
    print('FullName ',fn,ln)

In [108]:
fl('izack','newton')

FullName  izack newton

In [109]:
fl('Rakesh','Kumar')

FullName  Rakesh Kumar

In [120]:
def ab(**kwargs):
    return kwargs

In [121]:
ND = ab(Name='izack',city='mkly',Id = 1234)

In [122]:
ND.values()

dict_values(['izack', 'mkly', 1234])

In [123]:
ND['city']

'mkly'

In [139]:
def ml(food):
    for i in food:
        print(i)
    
fruits = ['apple','banana','pineapple','orange']

In [140]:
fruit = ml(fruits)

apple
banana
pineapple
orange

In [141]:
print(fruit)

None

In [143]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [142]:
def ab(x):
    return 5*x

In [144]:
ab(10)

50

In [145]:
ab(12)

60

In [6]:
def start():
    print('start')
    
def add(x,y):
    return x+y

def myprint(p):
    print(p)
    
start()

a = 10
b = 20

result = add(a,b)

myprint(result)

start
30

In [4]:
result

30

In [9]:
def welcome(*match):
    print("\nTotal no of matches :-",len(match))
    for i in match:
        print('score :- ',i)

In [10]:
welcome(10,5,9,4,7,8,6,5,4,8)

Total no of matches :- 10
score :-  10
score :-  5
score :-  9
score :-  4
score :-  7
score :-  8
score :-  6
score :-  5
score :-  4
score :-  8

In [11]:
a = 12
b = 30

In [12]:
temp = a

In [13]:
a = b

In [15]:
b = temp

In [16]:
print(a);print(b)

30
12

In [17]:
a = int(input('enter value :- '))
b = int(input('enter value :- '))

print('before swapping a: ',a)
print('before swapping b: ',b)

temp = a
a = b
b = temp

print('after swapping a: ',a)
print('after swapping b: ',b)

enter a value :- 15
enter a value :- 45
before swapping a:  15
before swapping b:  45
after swapping a:  45
after swapping b:  15

In [18]:
a = int(input("Enter value : "))
b = int(input("Enter value : "))

print("before swapping a :",a)
print("before swapping b :",b)

a = a+b
b = a-b
a = a-b

print("after swapping a :",a)
print("after swapping b :",b)

Enter value : 65
Enter value : 25
before swapping a : 65
before swapping b : 25
after swapping a : 25
after swapping b : 65

In [20]:
a = input("Enter value : ")
b = input("Enter value : ")

print("before swapping a :",a)
print("before swapping b :",b)

a,b = b,a

print("after swapping a :",a)
print("after swapping b :",b)

Enter value : izack
Enter value : 15
before swapping a : izack
before swapping b : 15
after swapping a : 15
after swapping b : izack

In [29]:
def swap(x,y):
    print("before swapping a : ",x)
    print("before swapping b : ",y)
    x,y = y,x
    return x,y

In [30]:
a = input("\nEnter value a : ")
b = input("Enter value b : ")

a,b = swap(a,b)

print("\nafter swapping a :",a)
print("after swapping b :",b)

Enter value a : 95
Enter value b : 45
before swapping a :  95
before swapping b :  45

after swapping a : 45
after swapping b : 95

In [31]:
#global variable
s=“global”

#function to check scope
def scope():
    #local variable
    x=“local”
    print(“Inside the function”)
    #accessing variables
    print(s)
    print(x)

#calling function
scope()
print(“\nOutside the function”)
#accessing variables
print(s)
print(x)

SyntaxError: invalid character '“' (U+201C) (9088286.py, line 2)

In [32]:
s = "global"

def scope():
    x = 'local'
    print('inside the function')
    print(s)
    print(x)

In [36]:
scope()

inside the function
global
local

In [35]:
print(s)
print(x)

global

NameError: name 'x' is not defined