In [8]:
def temp(n):
    i = 1
    while i<=n:
        yield i
        i = i+1

In [27]:
obj = temp(15)

In [28]:
next(obj)

1

In [29]:
for i in obj:
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [17]:
def test(n):
    i=1
    while i<=n:
        yield i
        i = i+1

In [18]:
p = test(10)

In [22]:
next(p)

4

In [23]:
for i in p:
    print(i)

5
6
7
8
9
10

In [47]:
def abc(n):
    i = 24
    while i<=n:
        yield i
        i = i+24

In [48]:
a = abc(240)

In [49]:
for i in a:
    print(i)

24
48
72
96
120
144
168
192
216
240

In [50]:
def table(n):
    i=2
    while i<=n:
        yield i
        i = i+2

In [51]:
c = table(20)

In [56]:
for i in table(20):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [70]:
class Student:
    def __init__(self,id,name,city,sal):
        self.id = id
        self.name = name
        self.city = city
        self.sal = sal
        
    def show(self):
        print('Id :- ',self.id)
        print('Name :- ',self.name)
        print('City :- ',self.city)
        print('Salary :- ',self.sal)

In [71]:
s1 = Student(101,'rjk','klt',45000)

In [72]:
s1.show()

Id :-  101
Name :-  rjk
City :-  klt
Salary :-  45000

In [86]:
class test:
    def __init__ (self):
        print('This is test method')

In [87]:
t = test()

This is test method

In [92]:
class A:
    def __init__(self,id,name,city):
        self.id = id
        self.name = name
        self.city = city
        
    def show(self):
        print('Emp_Id :- ',self.id)
        print('Emp_Name :- ',self.name)
        print('Emp_City :- ',self.city)

In [93]:
s = A('12564','rjk','kjh')

In [94]:
s.show()

Emp_Id :-  12564
Emp_Name :-  rjk
Emp_City :-  kjh

In [7]:
class value:
    def __init__(self,a,b):
        self.a = a
        self.b = b

In [8]:
obj = value(15,20)

In [9]:
obj.a

15

In [10]:
obj.b

20