In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Roshan B\Desktop\ML\Dataset\DS_data_set_analysis.csv")

In [3]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94862,ZWE,Africa,Zimbabwe,06/06/2021,39189.0,21.0,35.000,1606.0,1.0,1.714,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94863,ZWE,Africa,Zimbabwe,07/06/2021,39238.0,49.0,39.571,1611.0,5.0,2.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94864,ZWE,Africa,Zimbabwe,08/06/2021,39321.0,83.0,46.143,1617.0,6.0,2.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94865,ZWE,Africa,Zimbabwe,09/06/2021,39432.0,111.0,57.286,1622.0,5.0,3.286,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
94866,ZWE,Africa,Zimbabwe,10/06/2021,39496.0,64.0,57.714,1626.0,4.0,3.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [4]:
df.shape

(94867, 60)

In [5]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of       iso_code continent     location        date  total_cases  new_cases  \
0          AFG      Asia  Afghanistan  24/02/2020          1.0        1.0
1          AFG      Asia  Afghanistan  25/02/2020          1.0        0.0
2          AFG      Asia  Afghanistan  26/02/2020          1.0        0.0
3          AFG      Asia  Afghanistan  27/02/2020          1.0        0.0
4          AFG      Asia  Afghanistan  28/02/2020          1.0        0.0
...        ...       ...          ...         ...          ...        ...
94862      ZWE    Africa     Zimbabwe  06/06/2021      39189.0       21.0
94863      ZWE    Africa     Zimbabwe  07/06/2021      39238.0       49.0
94864      ZWE    Africa     Zimbabwe  08/06/2021      39321.0       83.0
94865      ZWE    Africa     Zimbabwe  09/06/2021      39432.0      111.0
94866      ZWE    Africa     Zimbabwe  10/06/2021      39496.0       64.0

       new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                     NaN           NaN         NaN                  NaN  ...
1                     NaN           NaN         NaN                  NaN  ...
2                     NaN           NaN         NaN                  NaN  ...
3                     NaN           NaN         NaN                  NaN  ...
4                     NaN           NaN         NaN                  NaN  ...
...                   ...           ...         ...                  ...  ...
94862              35.000        1606.0         1.0                1.714  ...
94863              39.571        1611.0         5.0                2.429  ...
94864              46.143        1617.0         6.0                2.571  ...
94865              57.286        1622.0         5.0                3.286  ...
94866              57.714        1626.0         4.0                3.143  ...

       extreme_poverty  cardiovasc_death_rate  diabetes_prevalence  \
0                  NaN                597.029                 9.59
1                  NaN                597.029                 9.59
2                  NaN                597.029                 9.59
3                  NaN                597.029                 9.59
4                  NaN                597.029                 9.59
...                ...                    ...                  ...
94862             21.4                307.846                 1.82
94863             21.4                307.846                 1.82
94864             21.4                307.846                 1.82
94865             21.4                307.846                 1.82
94866             21.4                307.846                 1.82

       female_smokers  male_smokers  handwashing_facilities  \
0                 NaN           NaN                  37.746
1                 NaN           NaN                  37.746
2                 NaN           NaN                  37.746
3                 NaN           NaN                  37.746
4                 NaN           NaN                  37.746
...               ...           ...                     ...
94862             1.6          30.7                  36.791
94863             1.6          30.7                  36.791
94864             1.6          30.7                  36.791
94865             1.6          30.7                  36.791
94866             1.6          30.7                  36.791

       hospital_beds_per_thousand  life_expectancy  human_development_index  \
0                             0.5            64.83                    0.511
1                             0.5            64.83                    0.511
2                             0.5            64.83                    0.511
3                             0.5            64.83                    0.511
4                             0.5            64.83                    0.511
...                           ...              ...                      ...
94862                         1.7            61.49                    0.571
94863                         1.7            61.49                    0.571
94864                         1.7            61.49                    0.571
94865                         1.7            61.49                    0.571
94866                         1.7            61.49                    0.571

       excess_mortality
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
94862               NaN
94863               NaN
94864               NaN
94865               NaN
94866               NaN

[94867 rows x 60 columns]>

In [6]:
df.shape

(94867, 60)

In [7]:
df.isnull().sum()

iso_code                                     0
continent                                 4480
location                                     0
date                                         0
total_cases                               3107
new_cases                                 3110
new_cases_smoothed                        4120
total_deaths                             13086
new_deaths                               12930
new_deaths_smoothed                       4120
total_cases_per_million                   3597
new_cases_per_million                     3600
new_cases_smoothed_per_million            4605
total_deaths_per_million                 13563
new_deaths_per_million                   13407
new_deaths_smoothed_per_million           4605
reproduction_rate                        18556
icu_patients                             85346
icu_patients_per_million                 85346
hosp_patients                            83050
hosp_patients_per_million                83050
weekly_icu_admissions                    94006
weekly_icu_admissions_per_million        94006
weekly_hosp_admissions                   93370
weekly_hosp_admissions_per_million       93370
new_tests                                51935
total_tests                              52242
total_tests_per_thousand                 52242
new_tests_per_thousand                   51935
new_tests_smoothed                       45067
new_tests_smoothed_per_thousand          45067
positive_rate                            47895
tests_per_case                           48494
tests_units                              43432
total_vaccinations                       80749
people_vaccinated                        81554
people_fully_vaccinated                  84323
new_vaccinations                         83069
new_vaccinations_smoothed                70533
total_vaccinations_per_hundred           80749
people_vaccinated_per_hundred            81554
people_fully_vaccinated_per_hundred      84323
new_vaccinations_smoothed_per_million    70533
stringency_index                         14905
population                                 624
population_density                        6667
median_age                                9859
aged_65_older                            10817
aged_70_older                            10330
gdp_per_capita                            9573
extreme_poverty                          37218
cardiovasc_death_rate                     9467
diabetes_prevalence                       7402
female_smokers                           28026
male_smokers                             29005
handwashing_facilities                   51964
hospital_beds_per_thousand               17022
life_expectancy                           4785
human_development_index                   9303
excess_mortality                         91523
dtype: int64