In [1]:
# Conditional statement

In [1]:
if 10 > 5:
    print('10 greater than 5')
print('program ended...')

10 greater than 5
program ended...

In [3]:
value = int(input('enter value:- '))

if value == 4:
    print('Yes')
else:
    print('No')

enter value:- 3
No

In [1]:
# if..else chain statement
letter = "A"

if letter == "B":
print("letter is B")

else:
    print('not equal')
	
if letter == "C":
	print("letter is C")
	
else:
    print()
	
	if letter == "A":
	print("letter is A")
	
	else:
	print("letter isn't A, B and C")

IndentationError: expected an indented block (1141925413.py, line 5)

In [13]:
letter = input('enter letter:- ').upper()
if letter == 'B':
    print('letter is B')
else:
    if letter == 'C':
        print('letter is C')
    else:
        if letter == 'A':
            print('letter is A')
        else:
            print('letter isn"t A,B,C')

enter letter:- c
letter is C

In [15]:
# Nested if statement example
num = 10

if num > 5:
    
    print("Bigger than 5")

    if num <= 15:
        print("Between 5 and 15")

Bigger than 5
Between 5 and 15

In [19]:
num = int(input('enter the number:- '))

if num > 10:
    print('num is greater than 10')
    if num <= 15:
        print('bet 10 and  15')

enter the number:- 16
num is greater than 10

In [48]:
# Explicit function
def digitSum(n):
	dsum = 0
	for ele in str(n):
		dsum += int(ele)
	return dsum


# Initializing list
List = [367, 111, 562, 945, 6726, 873]

# Using the function on odd elements of the list
newList = [digitSum(i) for i in List if i & 1]

# Displaying new list
print(newList)

[16, 3, 18, 18]

In [49]:
def intSum(n):
    dlst = 0
    for i in str(n):
        dlst += int(i)
    return dlst

In [51]:
lst1 = [256,245,236,278,659,119,369]
nst = [intSum(i) for i in lst1 if i & 1]

print(nst)

[11, 20, 11, 18]

In [ ]:
# python program to illustrate nested If statement

i = 10
if (i == 10):

	# First if statement
	if (i < 15):
		print("i is smaller than 15")
		
	# Nested - if statement
	# Will only be executed if statement above
	# it is true
	if (i < 12):
		print("i is smaller than 12 too")
	else:
		print("i is greater than 15")

In [7]:
i = int(input('enter number '))
if (i == 10):
    
    if i<15:
        print('i is smaller than 15')
    if i < 12:
        print('i is smaller than 12 too')
    else:
        print('i is greater than 15')
else:
    print('not equal to ',10)

enter number 16
not equal to  10

In [ ]:
# Python program to illustrate if-elif-else ladder
#!/usr/bin/python

i = 20
if (i == 10):
	print("i is 10")
elif (i == 15):
	print("i is 15")
elif (i == 20):
	print("i is 20")
else:
	print("i is not present")

In [63]:
i = int(input('enter the value:- '))
if (i == 10):
    print('i is 10')
elif (i == 15):
    print(' i is 15')
elif ( i == 20):
    print('i is 20')
else:
    print('not present')

enter the value:- 45
i in between 21 to 50

In [68]:
i = int(input('enter the number '))
print('the number is', i)
if i in range(21,50):
    print('i in between 21 to 50')
else:
    print('not in range')

enter the number 101
the number is 101
not in range

In [76]:
i = 10

print(' i is greater than 10') if i > 10 else print('equal to 10')

equal to 10

In [81]:
for i in range(1,10):
    print(i)
else:
    print('no break')

1
2
3
4
5
6
7
8
9
no break

In [88]:
for i in range(1,11):
    print(i)
    break
else:
    print('no break')

1

In [ ]:
# Python 3.x program to check if an array consists
# of even number
def contains_even_number(l):
	for ele in l:
		if ele % 2 == 0:
			print ("list contains an even number")
			break

	# This else executes only if break is NEVER
	# reached and loop terminated after all iterations.
	else:	
		print ("list does not contain an even number")

# Driver code
print ("For List 1:")
contains_even_number([1, 9, 8])
print (" \nFor List 2:")
contains_even_number([1, 3, 5])

In [109]:
lst = [1,3,7,5,2,8,9,10,12]
for i in lst:
    if i % 2 == 0:
        print('lst contains even numbers')
        break
        
else:
    print('lst contain no evan number')

lst contains even numbers

In [111]:
lst = [1,3,7,9]

for i in lst:
    if i % 2 == 0:
        print('lst contain even')
        break
else:
    print('even not contain')

even not contain

In [118]:
def evenElement(lst):
    for i in lst:
        if i % 2 == 0:
            print('lst contain even')
            break
    else:
        print('lst contains no even')

In [119]:
lst = [1,7,9,11]

evenElement(lst)

lst contains no even

In [120]:
evenElement([1,5,7,12])

lst contain even

In [132]:
# Python code to illustrate
# chaining comparison operators
x = 5
print(1 < x < 10)
print(10 < x < 20 )
print(x < 10 < x*10 < 100)
print(10 > x <= 9)
print(5 == x > 4)

True
False
True
True
True

In [124]:
x = 5

1<x

True

In [125]:
x<10

True

In [130]:
1<x<10

True

In [131]:
1<x and x <10

True

In [133]:
x = 5

In [134]:
10> x

True

In [136]:
x <= 9

True

In [141]:
age = int(input('enter the age:- '))
print('Your age is ',age)

if age> 45:
    print('pls take booster dose on priority')
else: print('you are not eligible')
print('thanks for visiting..')

enter the age:- 46
Your age is  46
pls take booster dose on priority
thanks for visiting..

In [146]:
file_name = input('enter the filename:- ')

if file_name.endswith('.pdf'):
    print(f'file processing {file_name}')
elif file_name.endswith('.xlxs'):
    print(f'file processing {file_name}')
elif file_name.endswith('.txt'):
    print(f'file processing {file_name}')
elif file_name.endswith('.html'):
    print(f'file processing {file_name}')
else:
    print('invalid file')

enter the filename:- sjdkjkdl.ddd
invalid file

In [150]:
lst_num = int(input('enter the number:- '))

if lst_num % 2 == 0:
    print('valid')
else:
    print('invalid')

enter the number:- 1052
valid

In [154]:
email = input('enter your mail_id:- ')

if email.endswith('@gmail.com'):
    print('valid email')
else:
    print('invalid email')

enter your mail_id:- sss
invalid email

In [168]:
name_lst = input('enter your name:- ')
if len(name_lst) == 6:
    print('valid name')
else:
    print('invalid name')

enter your name:- ljdkjkl;
invalid name

In [1]:
# Nested if else

In [12]:
city = input('enter the city ').lower()
sal = int(input('enter the salary '))
gen = input('enter the gender ').lower()

if city == 'pune':
    if sal > 75000:
        if gen == 'm':
            bonus = (sal/100)*15
            gross_sal = bonus + sal
            print('original sal',sal)
            print('after bonus',gross_sal)
        else:
            bonus = (sal/100)*25
            gross_sal = bonus+ sal
            print('original sal',sal)
            print('after bonus',gross_sal)
if city == 'mumbai':
    if sal >= 85000:
        if gen == 'm':
            bonus = (sal/100)*25
            gross_sal = bonus + sal
            print('original sal',sal)
            print('after bonus',gross_sal)
        else:
            bonus = (sal/100)*35
            gross_sal = bonus+ sal
            print('original sal',sal)
            print('after bonus',gross_sal)

enter the city mumbai
enter the salary 90000
enter the gender m
original sal 90000
after bonus 112500.0