In [1]:
# for Loops

In [15]:
py_lst

{'15158998', 45, 'Hadoop1515', 'ML', 'Python', 'Scala'}

In [8]:
py_lst = ['Python',45,'Hadoop''1515','15158998',257,'ML','Scala']

In [9]:
py_lst

['Python', 45, 'Hadoop1515', '15158998', 257, 'ML', 'Scala']

In [10]:
for i in py_lst:
    if str(i).isnumeric():
        print(i)

45
15158998
257

In [25]:
email = ['rosh@gmail.com','ahja@yahoo.com','fsgsf@hotmail.com','jsgjgj@gmail.com','sghsgh@gmail.com']

In [32]:
for i in email:
    if i.endswith('gmail.com'):
        print(i)

rosh@gmail.com
jsgjgj@gmail.com
sghsgh@gmail.com

In [36]:
for i in email:
    if i.endswith('gmail.com'):
        print(f'valid:- {i}')
    else:
        print(f'invalid:- {i}')

valid:- rosh@gmail.com
invalid:- ahja@yahoo.com
invalid:- fsgsf@hotmail.com
valid:- jsgjgj@gmail.com
valid:- sghsgh@gmail.com

In [37]:
email

['rosh@gmail.com',
 'ahja@yahoo.com',
 'fsgsf@hotmail.com',
 'jsgjgj@gmail.com',
 'sghsgh@gmail.com']

In [40]:
for i in email:
    if 'gmail' in i:
        print(i)

rosh@gmail.com
jsgjgj@gmail.com
sghsgh@gmail.com

In [43]:
a = [12,325,54,3,53,543,56,54,87,95,63,74,34,653,65,37]

for i in a:
    if '5' in str(i):
        print(i,end = ' ')

325 54 53 543 56 54 95 653 65

In [45]:
for i in a:
    if i % 2 == 0:
        print(f"even number {i}")
    else:
        print(f"odd number {i}")

even number 12
odd number 325
even number 54
odd number 3
odd number 53
odd number 543
even number 56
even number 54
odd number 87
odd number 95
odd number 63
even number 74
even number 34
odd number 653
odd number 65
odd number 37

In [46]:
lst = list(range(1,5))

In [47]:
lst

[1, 2, 3, 4]

In [48]:
for i in list(range(1,10)):
    print(i)

1
2
3
4
5
6
7
8
9

In [51]:
for i in 'Roshan':
    print(i,end=' ')

R o s h a n

In [52]:
lst_d = {'one':1,'two':2,'three':3,'four':4}

In [66]:
for k,v in lst_d.items():
    print('key:- '+k,'value:- '+ str(v))

key:- one value:- 1
key:- two value:- 2
key:- three value:- 3
key:- four value:- 4

In [13]:
for i in range(1,10):       # when it reaches greater than 5 it will skip the iteration
    if i >5:
        continue
    print(i)

1
2
3
4
5

In [79]:
for i in range(1, 10):
    if i > 5:
        continue
    print(i)

1
2
3
4
5

In [88]:
for x in range(1,5):
    for y in range(1,3):
        print('x',x,'y',y)

x 1 y 1
x 1 y 2
x 2 y 1
x 2 y 2
x 3 y 1
x 3 y 2
x 4 y 1
x 4 y 2

In [89]:
py_dict = {'name':'Roshan','age': 29,'sal':75000,'id':2274}

In [102]:
for i in py_dict.keys():
    if i in ['name','age']:
        print(i,py_dict[i])

name Roshan
age 29

In [103]:
sqr = ['Roshan','Mohan','Heena','Ajay','Naman']

In [106]:
for i,square in enumerate(sqr):
    
    print(i,square)

0 Roshan
1 Mohan
2 Heena
3 Ajay
4 Naman

In [107]:
x = 5
while(x!=2):
    print(x)
    x= x-1

5
4
3

In [109]:
for i, x in enumerate(['A','B','C']):
    print(i,x*2)

0 AA
1 BB
2 CC

In [18]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2

In [111]:
a=1

def do(x):
    return(x+a)

print(do(1))

2

In [112]:
lst = ['Geeks','for','Geeks']

for i in lst:
    print(i)

Geeks
for
Geeks

In [117]:
d = dict()

d['xyz'] = 123
d['abc'] = 325

for i in d.keys():
    print(i,d[i])

xyz 123
abc 325

In [120]:
s = 'knowledge'
for i in s:
    print(i,end = '-->\t')

k-->	n-->	o-->	w-->	l-->	e-->	d-->	g-->	e-->

In [121]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [125]:
def counts(x):
    for i in range(1,11):
        print(i*x)

In [129]:
counts(378)

378
756
1134
1512
1890
2268
2646
3024
3402
3780

In [134]:
for i in range(1,5):
    for j in range(1,4):
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [135]:
fruits = ['orange','apple','grapes','banana']
colour = ['orange','red','green','yellow']

for fruit,color in zip(fruits,colour):
    print(fruit,'is',color)

orange is orange
apple is red
grapes is green
banana is yellow

In [136]:
name = ['Roshan','Mohan','Sneha','Rakesh','Yogesh']
age = [25,27,29,24,28]

for nm,ag in zip(name,age):
    print(nm,'age is',ag)

Roshan age is 25
Mohan age is 27
Sneha age is 29
Rakesh age is 24
Yogesh age is 28

In [137]:
name

['Roshan', 'Mohan', 'Sneha', 'Rakesh', 'Yogesh']

In [138]:
age

[25, 27, 29, 24, 28]

In [141]:
print(list(zip(name,age)))

[('Roshan', 25), ('Mohan', 27), ('Sneha', 29), ('Rakesh', 24), ('Yogesh', 28)]

In [142]:
dict(zip(name,age))

{'Roshan': 25, 'Mohan': 27, 'Sneha': 29, 'Rakesh': 24, 'Yogesh': 28}

In [143]:
lst = (('x',25),('y',30),('z',24),('a',26),('b',24),('c',29))

In [144]:
for a,b in lst:
    print(a,b)

x 25
y 30
z 24
a 26
b 24
c 29

In [1]:
for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
        continue
    print('current letter:-',letter)

current letter:- g
current letter:- k
current letter:- f
current letter:- o
current letter:- r
current letter:- g
current letter:- k

In [2]:
for letter in ['Roshan','ajay','Hello','Gello','Mohan','Sohan','Hello','247','658']:
    if letter == 'Hello' or letter == 'Gello':
        continue
    print('current letter:-',letter)

current letter:- Roshan
current letter:- ajay
current letter:- Mohan
current letter:- Sohan
current letter:- 247
current letter:- 658

In [1]:
lst = dict()

lst['name'] = 'Roshan'
lst['age'] = 29
lst['city'] = 'Pune'

In [2]:
lst

{'name': 'Roshan', 'age': 29, 'city': 'Pune'}

In [3]:
for i in lst:
    print(i,lst[i])

name Roshan
age 29
city Pune

In [12]:
lst = [123,25,65,23,'sgshgh',254,565,'hsysg']

In [19]:
for items in lst:
    if str(items).isnumeric():
        print(f'valid...{items}')
    else:
        print(f'invalid...{items}')
        break

valid...123
valid...25
valid...65
valid...23
invalid...sgshgh

In [26]:
for letter in 'geeksforgeeks':
    pass
print('last letter',letter)

last letter s

In [21]:
letter

's'

In [ ]:
count = 0
while (count < 1):	
	count = count+1
	print(count)
	break
else:
	print("No Break")

In [5]:
count = 0
while count<10:
    count = count+1
    print(count)
    break
else:
    print('No brake')

1

In [13]:
lst= []
lst1 = []
i = 0
while i<= 50:
    if i % 2 == 0:
        lst.append(i)
    else:
        lst1.append(i)
    i = i+1
print(lst,'\n',lst1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [17]:
flag = True
while flag:
    a = int(input('enter the 1st number:- '))
    b = int(input('enter the 2nd number'))
    
    c = a+b
    print(f"addition of {a} and {b} is {c}")
    
    choice = input('do you want to continue[y/,n]')
    
    if choice == 'n':
    
        print('thank for visiting')
    
        flag = False

enter the 1st number:- 25
enter the 2nd number12
addition of 25 and 12 is 37
do you want to continue[y/,n]y
enter the 1st number:- 36
enter the 2nd number25
addition of 36 and 25 is 61
do you want to continue[y/,n]y
enter the 1st number:- 56
enter the 2nd number35
addition of 56 and 35 is 91
do you want to continue[y/,n]y
enter the 1st number:- 66
enter the 2nd number32
addition of 66 and 32 is 98
do you want to continue[y/,n]36
enter the 1st number:- 22
enter the 2nd number22
addition of 22 and 22 is 44
do you want to continue[y/,n]n
thank for visiting

In [19]:
flag = True

while flag:
    a = int(input('enter the f number:- '))
    b = int(input('enter the s number:- '))
    
    c = a + b
    print(f'addition of {a} and {b} is {c}')
    
    choice = input('enter the choice [y/n]:- ')
    if choice == 'n':
        print('thanks for visiting')
        
        return flag = False

SyntaxError: invalid syntax (2686417900.py, line 14)

In [15]:
p = 2
while p < 10:
    if p % 2 == 0:
        print('the num '+ str(p) + ' is even')
    else:
        print('the num '+ str(p) + ' is odd')
    p +=1

the num 2 is even
the num 3 is odd
the num 4 is even
the num 5 is odd
the num 6 is even
the num 7 is odd
the num 8 is even
the num 9 is odd

In [19]:
for i in range(1,5):
    for j in range(i):
        print(i,j)
    print()

1 0

2 0
2 1

3 0
3 1
3 2

4 0
4 1
4 2
4 3

In [20]:
lst = range(20)

for i in lst:
    if i == 3 or i == 4:
        print('found')
        continue
    print(i)

0
1
2
found
found
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [27]:
for i in 'akjdhgdjgdhhjdvh':
    if i == 'd':
        break
    print(i)

d

In [29]:
count = 0
while (count<=5):
    print('Roshan')
    count +=1

Roshan
Roshan
Roshan
Roshan
Roshan
Roshan

In [33]:
a = list(range(15))

while a:
    print(a.pop())

14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [36]:
i = 0
a = 'geeksforgeeks'
while (i<len(a)):
    if a[i] == 's' or a[i]== 'r':
        i = i+1
        continue
    print(a[i])
    i +=1

g
e
e
k
f
o
g
e
e
k

In [ ]:
# Prints all letters except 'e' and 's'
i = 0
a = 'geeksforgeeks'

while i < len(a):
	if a[i] == 'e' or a[i] == 's':
		i += 1
		continue
		
	print('Current Letter :', a[i])
	i += 1

In [43]:
# Python program to demonstrate
# while-else loop

i = 0
while i < 4:
	i += 1
	print(i)
else: # Executed because no break in for
	print("No Break\n")

i = 0
while i < 4:
	i += 1
	print(i)
	break
else: # Not executed as there is a break
	print("No Break")

1
2
3
4
No Break

1

In [41]:
i = 0

while i< 4:
    i +=1
    print(i)
else:
    print('no brake')

1
2
3
4
no brake

In [54]:
i = 0
while i<4:
    i += 1
    print(i)
    break
else:
    print('brake')

1

In [47]:
a = int(input('Enter a number (-1 to quit): '))

while a != -2:
	a = int(input('Enter a number (-1 to quit): '))

SyntaxError: invalid syntax (613832885.py, line 3)

In [63]:
a = int(input('enter the number '))
while a!= -1:
    a = int(input('enter number[quite for -1]'))

enter the number 2
enter number[quite for -1]2
enter number[quite for -1]2
enter number[quite for -1]2
enter number[quite for -1]-1

In [65]:
count = 0

while True:
    count += 1
    print(f'count is {count}')
    
    if count == 10:
        break
print('end')

enter the num1
count is 2
count is 3
count is 4
count is 5
count is 6
count is 7
count is 8
count is 9
count is 10
end

In [1]:
# Python program to illustrate
# while loop
count = 0
while (count < 3):
	count = count + 1
	print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [2]:
count = 0

while (count<4):
    print('Roshan')
    count +=1

Roshan
Roshan
Roshan
Roshan

In [6]:
a = list(range(15))

while a:
    print(a.pop())

14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [7]:
count = 0
while (count<3): count +=1; print('Hi...')

Hi...
Hi...
Hi...

In [17]:
for var in range(0,15):
    if var in [12,10,5]:
        continue
    print(var)

0
1
2
3
4
6
7
8
9
11
13
14

In [21]:
for i in range(0,21):
    if i in [6,9,12,16]:
        continue
    else:
        print(i,end = ' ')

0 1 2 3 4 5 7 8 10 11 13 14 15 17 18 19 20

In [29]:
nst_lst = [[1,2,3],[4,5,6],[7,8,9]]

for i in nst_lst:
    for j in i:
        if j ==3:
            continue
        print(j)

1
2
4
5
6
7
8
9

In [ ]:
# prints all the elements in the nested list
# except for the ones with value 3
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for i in nested_list:
	for j in i:
		if j == 3:
			continue
		print(j)

In [34]:

for i in nst_lst:
    for j in i:
        print(j,end = ' ')

1 2 3 4 5 6 7 8 9

In [38]:
nst_lst1[2]

7

In [ ]:
# prints the numbers between
# 0 and 9 that are not equal to 5
i = 0
while i < 10:
	if i == 5:
		i += 1
		continue
	print(i)
	i += 1

In [55]:
i = 0
while i<10:
    if i == 5:
        i += 1
        continue
    print(i)
    i +=1

0
1
2
3
4
6
7
8
9

In [63]:
for key,value in enumerate(['apple','mango','grapes','orange','banana']):
    print(key,value)

0 apple
1 mango
2 grapes
3 orange
4 banana

In [65]:
# python code to demonstrate working of enumerate()

for key, value in enumerate(['Geeks', 'for', 'Geeks',
							'is', 'the', 'Best',
							'Coding', 'Platform']):
	print(value, end=' ')

Geeks for Geeks is the Best Coding Platform

In [73]:
for i, m in enumerate(['Geeks', 'for', 'Geeks','is', 'the', 'Best','Coding', 'Platform']):
    print(i,m)

0 Geeks
1 for
2 Geeks
3 is
4 the
5 Best
6 Coding
7 Platform

In [77]:
for key,value in enumerate((1,2,3,4,5)):
    print(key,value)

0 1
1 2
2 3
3 4
4 5

In [78]:
# python code to demonstrate working of zip()

# initializing list
questions = ['name', 'colour', 'shape']
answers = ['apple', 'red', 'a circle']

# using zip() to combine two containers
# and print values
for question, answer in zip(questions, answers):
	print('What is your {0}? I am {1}.'.format(question, answer))

What is your name? I am apple.
What is your colour? I am red.
What is your shape? I am a circle.

In [79]:
que = ['name','color','shape']
ans = ['apple','red','circle']

In [90]:
a = dict(zip(que,ans))

In [91]:
a

{'name': 'apple', 'color': 'red', 'shape': 'circle'}

In [98]:
que = ['name','color','shape']
ans = ['apple','red','circle']

for que,ans in zip(que,ans):
    print('what is your {0}? :-> I am {1}\n'.format(que,ans))
print('Thanks for asking.....')

what is your name? :-> I am apple

what is your color? :-> I am red

what is your shape? :-> I am circle

Thanks for asking.....

In [100]:
king = {'Akbar': 'The Great', 'Chandragupta': 'The Maurya',
        'Modi': 'The Changer'}

for key,value in king.items():
    print(key,value)

Akbar The Great
Chandragupta The Maurya
Modi The Changer

In [101]:
lis = [1, 3, 5, 6, 2, 1, 3]

for i in sorted(lis):
    print(i)

1
1
2
3
3
5
6

In [102]:
for i in lis:
    print(i)

1
3
5
6
2
1
3

In [2]:
i = 10
while (i>0):
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [4]:
i = int(input('enter the number:- '))

while (i<=25):
    i = int(input('enter the number '))
    print(i)
    i +=1

enter the number:- 10
enter the number 10
10
enter the number 12
12
enter the number 25
25

In [7]:
i = 0
while (i<= 30):
    i = int(input('enter the number '))
    i += 1
else:
    print('This is else block')

enter the number 2
enter the number 23
enter the number 25
enter the number 25
enter the number 25
enter the number 25
enter the number 23
enter the number 55
This is else block

In [10]:
for i in range(11):
    print('5 x',i+1,'=',5*(i+1))

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55

In [11]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [12]:
a = ['apple','grapes','potato','gram']

for key,value in enumerate(a):
    print(key,value)

0 apple
1 grapes
2 potato
3 gram

In [18]:
fruits = ['apple','banana','cherry','orange']
color = ['Red','yellow','brown','orange']

for k,v in zip(fruits,color):
    print('fruits',k,'color',v)

fruits apple color Red
fruits banana color yellow
fruits cherry color brown
fruits orange color orange

In [19]:
d = {'name':'Roshan','age':28,'salary':985000}

for k,v in d.items():
    print(k,v)

name Roshan
age 28
salary 985000

In [31]:
lst = []
num_lst = [12,15,14,28,26,10,12,25,15,25,4,4,13,31,55,2,4,6,0,55,47,43,21,13]

for i in sorted(set(num_lst)):
    lst.append(i)
    print(i)
print('in list',lst)

0
2
4
6
10
12
13
14
15
21
25
26
28
31
43
47
55
in list [0, 2, 4, 6, 10, 12, 13, 14, 15, 21, 25, 26, 28, 31, 43, 47, 55]

In [42]:
basket = ['guave', 'orange', 'apple', 'pear',
          'guava', 'banana', 'grape']
lst1 = []
for i in basket:
    lst1.append(i.capitalize())
print(lst1)

['Guave', 'Orange', 'Apple', 'Pear', 'Guava', 'Banana', 'Grape']

In [53]:
basket
for i in sorted(set(basket)):
    print(i.title())

Apple
Banana
Grape
Guava
Guave
Orange
Pear

In [60]:
lst2 = [1,5,4,3,7,9,2,4,55,63,2,7,7,8,5,2,6,4,7]
for p in reversed(lst2):
    print(p,end=' ')

7 4 6 2 5 8 7 7 2 63 55 4 2 9 7 3 4 5 1

In [62]:
for i in reversed(range(1,11,2)):
    print(i)

9
7
5
3
1

In [63]:
c = 0

while c<5:
    if c == 3:
        print('this is 3')
    print(c)
    c +=1

0
1
2
this is 3
3
4