In [1]:
import keyword

keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
len(keyword.kwlist)

36

In [6]:
lst = []

for i in range(1,22):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [11]:
lst.sort(reverse = False)

In [12]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [13]:
lst[::-1]

[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
a = lst[::-1]
a

[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
for index,a in enumerate(a):
    print(index,a)

0 21
1 20
2 19
3 18
4 17
5 16
6 15
7 14
8 13
9 12
10 11
11 10
12 9
13 8
14 7
15 6
16 5
17 4
18 3
19 2
20 1

In [27]:
lst = [2,6,4,4,8,6,8,5,4]

In [28]:
lst.sort()

In [29]:
lst

[2, 4, 4, 4, 5, 6, 6, 8, 8]

In [33]:
str1 = '''  I
                Love
                        my
                             india'''

In [34]:
print(str1)

  I
                Love
                        my
                             india

In [35]:
lst = 'Hello this is python Tech'

In [36]:
lst[::-1]

'hceT nohtyp si siht olleH'

In [37]:
txt = 'hello'

an = '*'.join(txt)

print(an)

h*e*l*l*o

In [38]:
'*'.join('Gondia')

'G*o*n*d*i*a'

In [40]:
for i in an:
    print(i,end=' ')

h * e * l * l * o

In [42]:
py = ['a','b','c','d']

jlst = ''.join(py)

jlst

'abcd'

In [43]:
dic = {'id':1,'name':'Roshan','city':'Pune'}

In [44]:
dic

{'id': 1, 'name': 'Roshan', 'city': 'Pune'}

In [46]:
jdic = ' '.join(dic)

jdic

'id name city'

In [47]:
lst = ['apple','banana','grapes','mango']

In [52]:
sep = '*'.join(word for word in lst)

In [53]:
sep

'apple*banana*grapes*mango'

In [54]:
lst

['apple', 'banana', 'grapes', 'mango']

In [59]:
for word in lst:
    if word:
        a = '*'.join(word)
        print(a,end=' -->')

a*p*p*l*e -->b*a*n*a*n*a -->g*r*a*p*e*s -->m*a*n*g*o -->

In [63]:
def words(var):
    k = '*'.join(i.upper() for i in var)
    print(k)

In [64]:
lst

['apple', 'banana', 'grapes', 'mango']

In [65]:
words(lst)

APPLE*BANANA*GRAPES*MANGO

In [72]:
a= list((i.upper() for i in lst))

In [73]:
print(list(a))

['APPLE', 'BANANA', 'GRAPES', 'MANGO']

In [74]:
a

['APPLE', 'BANANA', 'GRAPES', 'MANGO']

In [77]:
for i in a:
    alst = i.swapcase()
    
    print(alst)

apple
banana
grapes
mango

In [79]:
str2 = 'This is String in Python'

swp = str2.swapcase()
swp

'tHIS IS sTRING IN pYTHON'

In [90]:
lst = '******kslsssjkjsnkjaaaa****'

lst.rstrip('a')

'******kslsssjkjsnkjaaaa****'

In [91]:
lst

'******kslsssjkjsnkjaaaa****'

In [93]:
lst.strip('*')

'kslsssjkjsnkjaaaa'

In [94]:
lst.partition('k')

('******', 'k', 'slsssjkjsnkjaaaa****')

In [95]:
name = 'Roshan'

name.replace('R','M')

'Moshan'

In [96]:
lst = 'Hello this is Python Programme'

In [99]:
lst.split()[3]

'Python'

In [108]:
lst

'Hello this is Python Programme'

In [109]:
str_lst = list(lst)
print(str_lst)
j = str_lst[6] = 'T'

['H', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e']

In [112]:
jj = ''.join(str_lst)

jj

'Hello This is Python Programme'

In [127]:
ind = 'Hello This is Roshan Here'

lst = list(ind)

lst[14]= 'M'

lj = ''.join(lst)

In [130]:
lj

'Hello This is Moshan Here'

In [131]:
ind

'Hello This is Roshan Here'

In [132]:
ab = list(ind)

In [134]:
ab[14] = 'M'

In [138]:
kl = ''.join(ab)

In [139]:
kl

'Hello This is Moshan Here'

In [144]:
user = input('enter any text ')
ab = user.split()
print(ab)

enter any text Hello This is Roshan from p34
['Hello', 'This', 'is', 'Roshan', 'from', 'p34']

In [148]:
def swaplst(str):
    size = len(str)
    
    str[0]

In [149]:
ls = [3,1,5,4]

In [150]:
swaplst(ls)

[3, 1, 5, 4]

In [17]:
lst =[]

def caal_vow(str1,vowels):
    
    for i in str1.lower():
        if i in vowels:
            lst.append(i)
    print(lst,len(lst))

In [18]:
ls = 'display number of vowels'
vowels = ['a','e','i','o','u']

In [19]:
caal_vow(ls,vowels)

['i', 'a', 'u', 'e', 'o', 'o', 'e'] 7

In [20]:
# list comprehension

In [27]:
def lc_vowels(ls):
    lcs = [i for i in ls.lower() if i in ['a','e','i','o','u']]
    print(lcs,len(lcs))

In [28]:
text1 = 'Hello this is the string practice for python, Roshan'

In [29]:
lc_vowels(text1)

['e', 'o', 'i', 'i', 'e', 'i', 'a', 'i', 'e', 'o', 'o', 'o', 'a'] 13

In [33]:
v = 'aeiou'

def cont(str2):
    str2 = str2.casefold()
    count = {}.fromkeys(v,0)
    
    for i in str2:
        if i in count:
            count[i] += 1
    return count

In [34]:
cont(text1)

{'a': 2, 'e': 3, 'i': 4, 'o': 4, 'u': 0}

In [35]:
vwls = ['a','e','i','o','u']

def cont1(str3):
    str3 = str3.casefold()
    
    count = {}.fromkeys(vwls,0)
    
    for i in str3:
        if i in count:
            count[i] += 1
    return count

In [36]:
cont1(text1)

{'a': 2, 'e': 3, 'i': 4, 'o': 4, 'u': 0}

In [37]:
str1 = 'Happy Journey'

In [40]:
str1.center(50,'_')

'__________________Happy Journey___________________'

In [48]:
str1.center(20,'>')

'>>>Happy Journey>>>>'

In [50]:
lst1 = ['a','b','c','d']; lst2 = [1,2,3,4]

In [51]:
a = dict(zip(lst1,lst2))

In [52]:
a

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [56]:
lst1.extend([1,4,2])

In [57]:
lst2

[1, 2, 3, 4]

In [59]:
for i in lst1:
    if i in lst2:
        print('not fare',i)
    else:
        print('this is fare',i)

this is fare a
this is fare b
this is fare c
this is fare d
not fare 1
not fare 4
not fare 2

In [60]:
lst1

['a', 'b', 'c', 'd', 1, 4, 2]

In [64]:
def intSum(n):
    dlst = 0
    for i in str(n):
        dlst += int(i)
    return dlst

In [69]:
lst1 = [256,245,236,278,659,119,369]

intSum(156)

12

In [97]:
def iSum(n):
    d = 0
    
    for i in str(n):
        d += int(i)
        print(d,end = ' ')
    return d

In [98]:
k = [iSum(i) for i in lst1]
k

2 7 13 2 6 11 2 5 11 2 9 17 6 11 20 1 2 11 3 9 18

[13, 11, 11, 17, 20, 11, 18]

In [99]:
i = 10
print(True) if i < 15 else print(False)

True

In [100]:
# Iterating over dictionary
print("Dictionary Iteration")

d = dict()

d['xyz'] = 123
d['abc'] = 345
for i in d:
	print("% s % d" % (i, d[i]))

Dictionary Iteration
xyz  123
abc  345

In [101]:
d = dict()

d['Roshan'] = 27
d['Mohan'] = 25
d['Komal'] = 30

In [102]:
d

{'Roshan': 27, 'Mohan': 25, 'Komal': 30}

In [103]:
for i in d:
    print(i,d[i])

Roshan 27
Mohan 25
Komal 30

In [104]:
for k,v in d.items():
    print(k,v)

Roshan 27
Mohan 25
Komal 30

In [121]:
lst = [1,3,7,9]

for i in lst:
    if i % 2 ==0:
        print('lst contain even')
        break
else:
    print('no even')

no even

In [124]:
for i in lst:
    if i % 2 ==0:
        print('lst even')
        break
else:
    print('no even')

no even

In [129]:
a = input('enter a letter ').upper()

if a == 'A':
    print('A')
else:
    if a == 'B':
        print('B')
    else:
        if a == 'C':
            print('C')
        else:
            if a == 'D':
                print('D')
            else:
                print('NA')

enter a letter k
NA

In [130]:
def fun():
    print('This is Python')

In [131]:
fun()

This is Python

In [134]:
lst_even = []
lst_odd = []

for i in range(0,50):
    if i % 2==0:
        lst_even.append(i**2)
    else:
        lst_odd.append(i**2)
print(lst_even)
print(lst_odd)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [135]:
for i in list(range(1,10)):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9

In [136]:
for i in range(1,10):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9

In [137]:
a = range(1,10)

In [139]:
a

range(1, 10)

In [140]:
a = list(range(1,10))

In [141]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
lst_d = {'one':1,'two':2,'three':3,'four':4}

In [146]:
for k,v in lst_d.items():
    print(f'Key :- {k}, Value :- {v}')

Key :- one, Value :- 1
Key :- two, Value :- 2
Key :- three, Value :- 3
Key :- four, Value :- 4

In [147]:
for i in 'Roshan':
    if i == 'o':
        continue
    print(i)

R
s
h
a
n

In [151]:
for i in range(1,11):
    if i < 5:
        continue
    print(i)

5
6
7
8
9
10

In [152]:
for i in range(1,11):
    if i > 5:
        continue
    print(i)

1
2
3
4
5

In [153]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [163]:
for i in nested_list:
    for j in i:
        if j == 3:
            continue
        print(j)

1
2
4
5
6
7
8
9

In [2]:
py_dict = {'name':'Roshan','age': 29,'sal':75000,'id':2274}

In [176]:
for i in py_dict.keys():
    if i in ['name','age']:
        print(i,py_dict[i])

name Roshan
age 29

In [182]:
for k,v in py_dict.items():
    if k in ['name','age']:
        print(k,v)

name Roshan
age 29

In [3]:
for index, (k,v) in enumerate(py_dict.items()):
    print(index,k,v)

0 name Roshan
1 age 29
2 sal 75000
3 id 2274

In [188]:
emp = ['Roshan','Mohan','Heena','Ajay','Naman']

In [189]:
for index, i in enumerate(emp):
    print(index,i)

0 Roshan
1 Mohan
2 Heena
3 Ajay
4 Naman

In [190]:
x = 5
while (x!=2):
    print(x)
    x -= 1

5
4
3

In [193]:
for index,i in enumerate(['A','B','C','D']):
    print(index,i*3)

0 AAA
1 BBB
2 CCC
3 DDD

In [195]:
for i in 'Roshan':
    print(f'{i}-->\t',end = ' ')

R-->	 o-->	 s-->	 h-->	 a-->	 n-->

In [196]:
def Counts(x):
    for i in range(1,11):
        print(i*x)

In [197]:
Counts(2)

2
4
6
8
10
12
14
16
18
20

In [201]:
fruits = ('orange','apple','grapes','banana')
colour = ['orange','red','green','yellow']

In [202]:
for k,v in zip(fruits,colour):
    print(k,v)

orange orange
apple red
grapes green
banana yellow

In [213]:
a = zip(fruits,colour)

In [214]:
dict(a)

{'orange': 'orange', 'apple': 'red', 'grapes': 'green', 'banana': 'yellow'}

In [218]:
for k,v in zip(fruits,colour):
    print(f'{k} is {v}')

orange is orange
apple is red
grapes is green
banana is yellow

In [246]:
names = ['Roshan','Mohan','Kunal','Rahul','kamal']
ages = (25,26,35,25,28)

for name,age in zip(names,ages):
    print(f'{name} age is {age}')

Roshan age is 25
Mohan age is 26
Kunal age is 35
Rahul age is 25
kamal age is 28

In [247]:
dict(zip(names,ages))

{'Roshan': 25, 'Mohan': 26, 'Kunal': 35, 'Rahul': 25, 'kamal': 28}

In [248]:
names

['Roshan', 'Mohan', 'Kunal', 'Rahul', 'kamal']

In [249]:
ages

(25, 26, 35, 25, 28)

In [4]:
b = 'Roshan Bahetwar'

In [5]:
b1 = iter(b)

In [6]:
next(b1)

'R'

In [7]:
next(b1)

'o'

In [8]:
for i in b1:
    print(i)

s
h
a
n

B
a
h
e
t
w
a
r

In [28]:
def gen():
    print('hello 1')
    yield 17
    return

    print('hello 2')
    yield 18

    print('hello 3')
    yield 19

In [29]:
a = gen()

In [30]:
for i in a:
    print(i)

hello 1
17

In [26]:
next(a)

hello 1

17

In [27]:
next(a)

StopIteration:

In [22]:
next(a)

hello 3

19

In [23]:
next(a)

StopIteration:

In [44]:
emp = ['roshan','sneha','heena','komal']

lst = list(map(lambda x: x.upper() if x == 'roshan' else f'key:- {x.title()}',emp))

lst

['ROSHAN', 'key:- Sneha', 'key:- Heena', 'key:- Komal']

In [40]:
lst

['ROSHAN', 'Sneha', 'Heena', 'Komal']

In [42]:
for i in lst:
    i.capitalize()
    print(i)

ROSHAN
Sneha
Heena
Komal

In [3]:
lst = ['Roshan','Asha','Punam']

In [4]:
lst.insert(25,'Ganesh')

In [5]:
lst

['Roshan', 'Asha', 'Punam', 'Ganesh']

In [6]:
for i in lst:
    if i == 'Punam':
        lst.remove(i)
print(lst)

['Roshan', 'Asha', 'Ganesh']

In [26]:
p = [2,5,4,5,4,7,55,6,5,2,5,2,5,2,5,2,5]

In [27]:
p

[2, 5, 4, 5, 4, 7, 55, 6, 5, 2, 5, 2, 5, 2, 5, 2, 5]

In [28]:
count = 0
TotalCountSum = 0
for i in p:
    if i == 5:
        p.remove(i)
        count += 1
        TotalCountSum += i 
print(p)
print(count)
print(f'\n Occurance of {i} is {count} nos and Sum of These is {TotalCountSum}')

[2, 4, 4, 7, 55, 6, 2, 2, 2, 2]
7

 Occurance of 5 is 7 nos and Sum of These is 35

In [29]:
p

[2, 4, 4, 7, 55, 6, 2, 2, 2, 2]

In [30]:
p.reverse()

In [31]:
p

[2, 2, 2, 2, 6, 55, 7, 4, 4, 2]

In [32]:
# set 

py_set = {'roshan','mohan'}

In [33]:
py_set

{'mohan', 'roshan'}

In [34]:
py_set.add('govind')

In [35]:
py_set

{'govind', 'mohan', 'roshan'}

In [36]:
py_set.update(['neha','manisha','ganesh'])

In [37]:
py_set

{'ganesh', 'govind', 'manisha', 'mohan', 'neha', 'roshan'}

In [38]:
py_set.update((1,2,3))

In [39]:
py_set

{1, 2, 3, 'ganesh', 'govind', 'manisha', 'mohan', 'neha', 'roshan'}

In [40]:
lst

['Roshan', 'Asha', 'Ganesh']

In [41]:
lst.remove('goa')

ValueError: list.remove(x): x not in list

In [42]:
lst.remove('Roshan')

In [43]:
py_set

{1, 2, 3, 'ganesh', 'govind', 'manisha', 'mohan', 'neha', 'roshan'}

In [44]:
py_set.remove(1)

In [45]:
py_set

{2, 3, 'ganesh', 'govind', 'manisha', 'mohan', 'neha', 'roshan'}

In [47]:
py_set.remove(5)

KeyError: 5

In [49]:
py_set.discard(5)

In [50]:
lst

['Asha', 'Ganesh']

In [52]:
temp = dict.fromkeys(lst)

In [53]:
temp['Asha'] = 26

In [54]:
temp

{'Asha': 26, 'Ganesh': None}

In [55]:
temp['Ganesh'] = 25

In [56]:
temp

{'Asha': 26, 'Ganesh': 25}

In [57]:
dict.fromkeys(temp)

{'Asha': None, 'Ganesh': None}

In [58]:
dict.fromkeys(temp,25)

{'Asha': 25, 'Ganesh': 25}

In [59]:
temp['Asha'] = 28

In [60]:
temp

{'Asha': 28, 'Ganesh': 25}

In [61]:
temp.setdefault('City','Pune')

'Pune'

In [62]:
temp

{'Asha': 28, 'Ganesh': 25, 'City': 'Pune'}

In [64]:
ls = 'hello this is string example'

In [65]:
ls

'hello this is string example'

In [66]:
ls.find('string')

14

In [67]:
ls.find('Roshan')

-1

In [69]:
ls.count('s')

3

In [70]:
a = 'roshan'

In [71]:
a.zfill(15)

'000000000roshan'

In [72]:
a.center(20)

'       roshan       '

In [77]:
str = '*'.join('hello')
str

'h*e*l*l*o'

In [78]:
words = ["apple","","banana","cherry",""]
'@'.join(words)

'apple@@banana@cherry@'

In [82]:
str1 = 'hello i am a geek'
lst = list(str1)
lst.remove(' ')

In [85]:
for i in lst:
    if i == ' ':
        lst.remove(i)
print(lst)

['h', 'e', 'l', 'l', 'o', 'i', 'a', 'm', 'a', 'g', 'e', 'e', 'k']

In [88]:
''.join(lst)

'helloiamageek'