In [1]:
py_lst = ['Python',45,'Hadoop''1515','15158998',257,'ML','Scala']

In [2]:
for i in py_lst:
    if str(i).isnumeric():
        print(i)

45
15158998
257

In [3]:
py_dict = {'name':'Roshan','age': 29,'sal':75000,'id':2274}

In [4]:
for i in py_dict.keys():
    if i in ['name','age']:
        print(i,py_dict[i])

name Roshan
age 29

In [9]:
def count(x):
    for i in range(1,11):
        print(i*x)

In [11]:
count(4)

4
8
12
16
20
24
28
32
36
40

In [19]:
name = ['Roshan','Mohan','Sneha','Rakesh','Yogesh']
age = [25,27,29,24,28]

a = list(zip(name,age))

In [20]:
a

[('Roshan', 25), ('Mohan', 27), ('Sneha', 29), ('Rakesh', 24), ('Yogesh', 28)]

In [14]:
for i in a:
    print(i)

('Roshan', 25)
('Mohan', 27)
('Sneha', 29)
('Rakesh', 24)
('Yogesh', 28)

In [21]:
flag = True

while flag:
    a = int(input('enter number '))
    b = int(input('enter number '))
    c = a+b
    print(f'addidtion of {a} and {b} is {c}')
    
    choice = input('enter the choice [y/n] ')
    if choice == 'n':
        print('Thanks for visiting')
        flag = false

enter number 10
enter number 25
addidtion of 10 and 25 is 35
enter the choice [y/n] y
enter number 35
enter number 65
addidtion of 35 and 65 is 100
enter the choice [y/n] n
Thanks for visiting

NameError: name 'false' is not defined

In [22]:
a = int(input('enter number'))
while a != -1:
    a = int(input('enter the number [quite for -1] '))

enter number1
enter the number [quite for -1] 2
enter the number [quite for -1] 3
enter the number [quite for -1] 3
enter the number [quite for -1] 5
enter the number [quite for -1] 53
enter the number [quite for -1] 345
enter the number [quite for -1] -1

In [25]:
count = 0

while True:
    count += 1
    print(f'count is {count}',end = ' ')
    
    if count == 20:
        break
print('end')

count is 1 count is 2 count is 3 count is 4 count is 5 count is 6 count is 7 count is 8 count is 9 count is 10 count is 11 count is 12 count is 13 count is 14 count is 15 count is 16 count is 17 count is 18 count is 19 count is 20 end

In [ ]:
@classmethod
def abc(cls, input1):
    lst = len(input1)
    a = len(input1)

In [28]:
@classmethod
def calculate_difference(cls, input_string):
    total_diff = 0

    for length in range(1, len(input_string) + 1):
        for start in range(len(input_string) - length + 1):
            substring = input_string[start : start + length]

            if not cls.is_palindrome(substring):
                diff = abs(len(substring) - sum(1 for c in substring if c.isalpha()))
                total_diff += diff

    return total_diff

# Input string
input_string = "johnpaul"

calculate_difference(cls, input_string)

NameError: name 'cls' is not defined

In [1]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Roshan B\Desktop\Python 34\SQL\class_notes\1.Syllabus_SQL.xlsx',sheet_name='Sheet1')
print(df)

         Unnamed: 0 Unnamed: 1  \
0   Batch : Testing        NaN
1               NaN        Sr.
2               NaN          1
3               NaN          2
4               NaN          3
5               NaN          4
6               NaN          5
7               NaN          6
8               NaN          7
9               NaN          8
10              NaN          9
11              NaN         10
12              NaN         11
13              NaN         12
14              NaN         13
15              NaN         14
16              NaN         15
17              NaN         16
18              NaN         17
19              NaN         18
20              NaN         19
21              NaN         20
22              NaN         21
23              NaN         22
24              NaN         23
25              NaN         24
26              NaN         25
27              NaN         26
28              NaN         27
29              NaN         28
30              NaN         29
31              NaN         30

                                           Unnamed: 2  Unnamed: 3
0                                                 NaN         NaN
1                                      Course Content         NaN
2                             Introduction of Testing         NaN
3                   What is Data and Database Testing         NaN
4                                 Introduction of SQL         NaN
5                                      SQL Statements         NaN
6                          DML,DDL,DCL,TCL Statements         NaN
7                                    create statement         NaN
8                        Insert and select statements         NaN
9                                        Where Clause         NaN
10  Operaters                                     ...         NaN
11                           Update,Delete Statements         NaN
12                       Alter,Drop ,Truncate ,Rename         NaN
13                                What is fact table?         NaN
14                                    Order by Clause         NaN
15  Aggregate Functions (Max,Min,Avg,Sum,Count,Dis...         NaN
16                                    Group by Clause         NaN
17                                      Having Clause         NaN
18                                        Constraints         NaN
19                                               Join         NaN
20                                       Set operator         NaN
21                             Date and Time Function         NaN
22                  Sub query and Co-relational query         NaN
23                             Null Value replacement         NaN
24                                        Over Clause         NaN
25                                       Partition by         NaN
26                            Rank,Dense_Rank,Row_Num         NaN
27                                SQL Server Function         7.0
28                                   Stored Procedure         NaN
29                                               View         NaN
30                                              Index         NaN
31                                            Trigger         NaN

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [2]:
fruits.count('apple')

2

In [3]:
fruits.index('apple',4)

5

In [4]:
fruits.index('kiwi',3)

4

In [5]:
fruits.sort()

In [6]:
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']